workflows/Automate AI-powered employee onboarding emails and Slack updates with Groq, Gmail, and Google Sheets-15451/automate_ai-powered_employee_onboarding_emails_and_slack_updates_with_groq_gmail_and_google_sheets.json
{"id":"hzwtjCdSp6EsbjHv","meta":{"instanceId":"791c79d92e19b35affc56594b063dd8baaf3ed3e2f0e432241992395a4c5718b","templateCredsSetupCompleted":true},"name":"Real-Time Inventory & Auto-Reorder Pipeline","tags":[],"nodes":[{"id":"29c87e84-26b0-44d3-a7bf-06f044d94d67","name":"Onboarding Form","type":"n8n-nodes-base.formTrigger","position":[2256,1568],"webhookId":"3e959548-67fb-49ad-bb6b-d7105a9dc67b","parameters":{"options":{},"formTitle":"Employee Onboarding Form","formFields":{"values":[{"fieldLabel":"Full Name","requiredField":true},{"fieldType":"email","fieldLabel":"Email Address","requiredField":true},{"fieldLabel":"Role / Position","requiredField":true},{"fieldLabel":"Department","requiredField":true},{"fieldType":"date","fieldLabel":"Start Date","requiredField":true},{"fieldLabel":"Direct Manager Name","requiredField":true},{"fieldType":"email","fieldLabel":"Direct Manager Email","requiredField":true}]},"formDescription":"Welcome to the team! Please fill in your details to begin the onboarding process."},"typeVersion":2.2},{"id":"61bf68a9-211e-473f-b21f-ecdb7a624670","name":"Store Form Data","type":"n8n-nodes-base.code","position":[2480,1568],"parameters":{"jsCode":"const formData = $input.first().json;\nreturn [{ json: formData }];"},"typeVersion":2},{"id":"44915d0e-d49b-4788-91e4-682dd14b0afe","name":"Generate AI Content","type":"@n8n/n8n-nodes-langchain.lmChatGroq","position":[2672,1760],"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"typeVersion":1},{"id":"07ddc2e9-615e-4ebc-af6d-c70f4aa49a9e","name":"Welcome Email → New Hire","type":"n8n-nodes-base.gmail","position":[3856,1376],"webhookId":"c42625b8-cb93-40d7-ac11-fcdf80ef5024","parameters":{"sendTo":"={{ $('Onboarding Form').item.json['Email Address'] }}","message":"={{ $json.data[0].output.welcome_email_body }}","options":{"attachmentsUi":{"attachmentsBinary":[{},{"property":"data_1"}]},"appendAttribution":false},"subject":"={{ $json.data[0].output.welcome_email_subject }}"},"typeVersion":2.2},{"id":"fca3f7e3-ad8d-46da-9566-566ac7bae79c","name":"Notification Email → HR Team","type":"n8n-nodes-base.gmail","position":[3856,1760],"webhookId":"345eab7c-4975-4cb3-ab7f-976eff48fc1c","parameters":{"sendTo":"user@example.com","message":"={{ $json.data[0].output.hr_email_body }}","options":{"appendAttribution":false},"subject":"={{ $json.data[0].output.hr_email_subject }}"},"typeVersion":2.2},{"id":"6662c442-b0d7-4cd7-8dcd-eff6e2fcedda","name":"Notification Email → Manager","type":"n8n-nodes-base.gmail","position":[3856,1952],"webhookId":"b6351493-e0ac-49c9-afaf-32cf7f4d85c4","parameters":{"sendTo":"=ahamed.farhan2021@gmail.com","message":"={{ $json.data[0].output.manager_email_body }}","options":{"appendAttribution":false},"subject":"={{ $json.data[0].output.manager_email_subject }}"},"typeVersion":2.2},{"id":"0e73ef60-d507-4668-b377-594d98333c1b","name":"System Access Request → IT Team","type":"n8n-nodes-base.gmail","position":[3856,2144],"webhookId":"d9cd0efe-b473-4080-b32b-6d55684ea162","parameters":{"sendTo":"user@example.com","message":"={{ $json.data[0].output.it_email_body }}","options":{"appendAttribution":false},"subject":"={{ $json.data[0].output.it_email_subject }}"},"typeVersion":2.2},{"id":"c95f478f-d3b1-44c9-948d-121d3906b26a","name":"Slack Intro → General Channel","type":"n8n-nodes-base.slack","position":[3856,2336],"webhookId":"889b155b-2823-4f57-b154-3a11fa9975e8","parameters":{"text":"={{ $json.data[0].output.slack_general_message }}","select":"channel","channelId":{"__rl":true,"mode":"list","value":"YOUR_GENERAL_SLACK_CHANNEL_ID","cachedResultName":"general"},"otherOptions":{"includeLinkToWorkflow":false},"authentication":"oAuth2"},"typeVersion":2.3},{"id":"47a11860-2fc6-434d-a311-072d2d6aeae3","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[2688,1568],"parameters":{"text":"=Full Name: {{ $json['Full Name'] }}\nEmail: {{ $json['Email Address'] }}\nRole: {{ $json['Role / Position'] }}\nDepartment: {{ $json['Department'] }}\nStart Date: {{ $json['Start Date'] }}\nManager Name: {{ $json['Direct Manager Name'] }}\nManager Email: {{ $json['Direct Manager Email'] }}\nCompany name : RedsAI","options":{"systemMessage":"# Role\n\nYou are a professional HR communications specialist working for [Company Name]. \nYour job is to generate personalized, warm and professional onboarding \ncommunications for new employees joining the company.\n\nYou will receive new employee details and must generate multiple pieces of \ncommunication simultaneously.\n\nAlways sound human. Never sound automated.\n\n---\n\n# Employee Details You Will Receive\n\n- Full Name\n- Email Address\n- Role / Position\n- Department\n- Start Date\n- Direct Manager Name\n- Direct Manager Email\n\n---\n\n# Communications You Must Generate\n\n## 1. Welcome Email (To New Hire)\n\n**Tone:** Warm. Exciting. Encouraging.\n**Purpose:** Make the new employee feel genuinely welcomed and excited about joining.\n\nMust include:\n- Personal greeting using their first name\n- Congratulate them on joining the team\n- Mention their role and department\n- Confirm their start date\n- Let them know their training materials are ready and accessible via a link that will be provided\n- Tell them what to expect on Day 1\n- Sign off from the HR Team\n\n---\n\n## 2. Manager Notification Email (To Direct Manager)\n\n**Tone:** Professional. Informative. Action oriented.\n**Purpose:** Notify the manager that their new team member is onboarded and starting soon.\n\nMust include:\n- Name of the new hire\n- Their role and department\n- Confirmed start date\n- Reminder to prepare workspace and Day 1 plan\n- Request manager to reach out to new hire before start date\n- Sign off from the HR Team\n\n---\n\n## 3. HR Team Notification Email (To HR Team)\n\n**Tone:** Professional. Concise. Factual.\n**Purpose:** Internal summary for HR records and awareness.\n\nMust include:\n- New hire full name\n- Role and department\n- Start date\n- Manager name\n- Confirmation that onboarding has been initiated automatically\n- Status: Onboarding\n- Sign off from Onboarding Automation System\n\n---\n\n## 4. IT System Access Request Email (To IT Team)\n\n**Tone:** Professional. Clear. Direct.\n**Purpose:** Request IT team to set up system access for the new employee before their start date.\n\nMust include:\n- New hire full name\n- Role and department\n- Start date\n- Request to set up the following before start date:\n  * Company email account\n  * System and software access based on role\n  * Hardware setup if required\n  * VPN and security access\n- Urgency note: Must be completed before start date\n- Sign off from HR Team\n\n---\n\n## 5. Slack General Channel Message\n\n**Tone:** Friendly. Casual. Exciting.\n**Purpose:** Introduce the new hire to the entire company on Slack.\n\nMust include:\n- Warm welcome announcement\n- New hire first name\n- Their role and department\n- Start date\n- One encouraging line welcoming them to the team\n- Relevant emojis to keep it friendly\n\n---\n\n## 6. Slack HR Team Channel Message\n\n**Tone:** Professional. Brief. Informative.\n**Purpose:** Quick internal alert for HR team on Slack.\n\nMust include:\n- New hire name\n- Role and department\n- Start date\n- Confirmation that onboarding workflow has been triggered automatically\n- Reminder to verify Google Sheets entry\n\n---\n\n# Output Rules\n\n- Return valid JSON only\n- No markdown\n- No code blocks\n- No extra text outside the JSON\n- All email bodies must be in clean HTML format\n- Keep emails concise but complete\n- Never use placeholder text like [insert name here]\n- Always use the actual employee details provided\n\n---\n\n# Output Format\n\nReturn exactly this JSON structure:\n\n{\n  \"welcome_email_subject\": \"write subject line here\",\n  \"welcome_email_body\": \"full HTML email here\",\n  \"manager_email_subject\": \"write subject line here\",\n  \"manager_email_body\": \"full HTML email here\",\n  \"hr_email_subject\": \"write subject line here\",\n  \"hr_email_body\": \"full HTML email here\",\n  \"it_email_subject\": \"write subject line here\",\n  \"it_email_body\": \"full HTML email here\",\n  \"slack_general_message\": \"slack message here\",\n  \"slack_hr_message\": \"slack HR alert here\"\n}"},"promptType":"define","hasOutputParser":true},"typeVersion":3.1},{"id":"5fbd8188-c4be-4c2f-9043-97118329d827","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[2848,1744],"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"welcome_email_subject\": { \"type\": \"string\" },\n    \"welcome_email_body\": { \"type\": \"string\" },\n    \"manager_email_subject\": { \"type\": \"string\" },\n    \"manager_email_body\": { \"type\": \"string\" },\n    \"hr_email_subject\": { \"type\": \"string\" },\n    \"hr_email_body\": { \"type\": \"string\" },\n    \"it_email_subject\": { \"type\": \"string\" },\n    \"it_email_body\": { \"type\": \"string\" },\n    \"slack_general_message\": { \"type\": \"string\" },\n    \"slack_hr_message\": { \"type\": \"string\" }\n  },\n  \"required\": [\"welcome_email_subject\",\"welcome_email_body\",\"manager_email_subject\",\"manager_email_body\",\"hr_email_subject\",\"hr_email_body\",\"it_email_subject\",\"it_email_body\",\"slack_general_message\",\"slack_hr_message\"]\n}"},"typeVersion":1.3},{"id":"319942c2-b04e-4a5e-ba7e-9c6802c077fd","name":"Download Policy","type":"n8n-nodes-base.googleDrive","position":[3296,1568],"parameters":{"fileId":{"__rl":true,"mode":"id","value":"YOUR_COMPANY_POLICY_PDF_FILE_ID"},"options":{},"operation":"download"},"typeVersion":3},{"id":"1fa5120c-2076-4b89-881f-dc23f7c9085c","name":"Download Handbook","type":"n8n-nodes-base.googleDrive","position":[3056,1568],"parameters":{"fileId":{"__rl":true,"mode":"id","value":"YOUR_EMPLOYEE_HANDBOOK_PDF_FILE_ID"},"options":{},"operation":"download"},"typeVersion":3},{"id":"66c551df-e9f5-4a02-84f2-8162a3a44ed4","name":"Merge","type":"n8n-nodes-base.merge","position":[3072,1792],"parameters":{},"typeVersion":3.2},{"id":"bba0c48d-0f15-47d4-8da6-312c47bbc219","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[3312,1792],"parameters":{"options":{"includeBinaries":true},"aggregate":"aggregateAllItemData"},"typeVersion":1},{"id":"b1bebe0a-6fa2-49ab-bfaa-72b8c48fcf30","name":"Append row in sheet","type":"n8n-nodes-base.googleSheets","position":[3856,1568],"parameters":{"columns":{"value":{"Role":"={{ $('Onboarding Form').item.json['Role / Position'] }}","E-mail":"={{ $('Onboarding Form').item.json['Email Address'] }}","Department":"={{ $('Onboarding Form').item.json.Department }}","Full Name ":"={{ $('Onboarding Form').item.json['Full Name'] }}","Start Date":"={{ $('Onboarding Form').item.json['Start Date'] }}","Manager name":"={{ $('Onboarding Form').item.json['Direct Manager Name'] }}"},"schema":[{"id":"Full Name ","type":"string","display":true,"required":false,"displayName":"Full Name ","defaultMatch":false,"canBeUsedToMatch":true},{"id":"E-mail","type":"string","display":true,"required":false,"displayName":"E-mail","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Role","type":"string","display":true,"required":false,"displayName":"Role","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Department","type":"string","display":true,"required":false,"displayName":"Department","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Start Date","type":"string","display":true,"required":false,"displayName":"Start Date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Manager name","type":"string","display":true,"required":false,"displayName":"Manager name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"removed":true,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"append","sheetName":{"__rl":true,"mode":"list","value":"Sheet1","cachedResultUrl":"","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"id","value":"YOUR_ONBOARDING_SPREADSHEET_ID","cachedResultUrl":"","cachedResultName":"Employee Onboarding Tracker"}},"typeVersion":4.7},{"id":"36683bee-bac8-4786-a169-c546d91bd9b1","name":"HR team","type":"n8n-nodes-base.slack","position":[3856,2528],"webhookId":"9c6acc78-9e39-4afb-8985-6dd635e73a08","parameters":{"text":"={{ $json.data[1].output.slack_hr_message }}","select":"channel","channelId":{"__rl":true,"mode":"list","value":"YOUR_HR_SLACK_CHANNEL_ID","cachedResultName":"hr-team"},"otherOptions":{"includeLinkToWorkflow":false},"authentication":"oAuth2"},"typeVersion":2.4},{"id":"10d0527d-4275-4ba4-86b9-4389e805c3c5","name":"Main Overview","type":"n8n-nodes-base.stickyNote","position":[1520,1184],"parameters":{"color":7,"width":592,"height":860,"content":"## 🧑‍💼 AI Employee Onboarding Automation\n\nFully automates the new-hire onboarding experience from a single form submission — no manual follow-up required.\n\n**Perfect for:** HR teams and ops managers who want consistent, personalised onboarding communications sent instantly when a new employee joins.\n\n---\n\n## How it works\n\n1. **Onboarding Form** — New hire (or HR) submits name, email, role, department, start date, and manager details.\n2. **Store Form Data** — Form data is captured and passed to the AI agent.\n3. **AI Agent (Groq)** — Generates all personalised communications in one call: welcome email, HR/manager/IT notification emails, Slack intro message, and HR Slack alert.\n4. **Download Handbook & Policy** — Employee handbook and company policy PDFs are fetched from Google Drive.\n5. **Aggregate** — PDF attachments and AI output are merged into a single item for distribution.\n6. **Welcome Email** — Sent to the new hire with handbook and policy PDFs attached.\n7. **HR, Manager & IT emails** — Three separate notification emails dispatched simultaneously.\n8. **Slack messages** — Company-wide intro posted to #general; internal alert posted to #hr-team.\n9. **Google Sheets** — New hire record appended to the onboarding tracker.\n\n---\n\n## Setup (~15 minutes)\n\n1. **Groq API** — Add your key in the *Generate AI Content* node.\n2. **Gmail** — Connect via OAuth2 (applies to all email nodes). Update `sendTo` addresses in the HR and IT email nodes.\n3. **Slack** — Connect via OAuth2. Set your `#general` channel in *Slack Intro → General Channel* and your `#hr-team` channel in *HR team*.\n4. **Google Drive** — Connect via OAuth2. Replace `YOUR_EMPLOYEE_HANDBOOK_PDF_FILE_ID` and `YOUR_COMPANY_POLICY_PDF_FILE_ID` with your actual Drive file IDs.\n5. **Google Sheets** — Connect via OAuth2. Replace `YOUR_ONBOARDING_SPREADSHEET_ID` with your sheet ID. Ensure columns match: `Full Name | E-mail | Role | Department | Start Date | Manager name`.\n6. **Company name** — Update `RedsAI` in the *AI Agent* prompt text to your actual company name.\n7. **Activate** — Enable the workflow and share the form URL with your HR team."},"typeVersion":1},{"id":"737377d7-c607-4f82-96b6-5a2743654c14","name":"Section: Form & AI","type":"n8n-nodes-base.stickyNote","position":[2160,1392],"parameters":{"color":5,"width":820,"height":676,"content":"## 1️⃣ Form Submission & AI Generation\n\nThe onboarding form collects all new hire details. The AI Agent (Groq Llama 3.3 70B) generates every piece of communication in a single structured call — welcome email, HR/manager/IT notifications, and both Slack messages — enforced by the Structured Output Parser."},"typeVersion":1},{"id":"827efcfe-9199-4b8d-a8bb-f2eccb6f3617","name":"Section: Documents","type":"n8n-nodes-base.stickyNote","position":[3008,1376],"parameters":{"color":3,"width":596,"height":692,"content":"## 2️⃣ Document Preparation\n\nThe Employee Handbook and Company Policy PDFs are downloaded from Google Drive. Both files are merged and aggregated into a single item so they can be attached to the welcome email and passed downstream to all notification nodes."},"typeVersion":1},{"id":"db260a66-e970-42d7-8b7e-adc3b9f5d583","name":"Section: Delivery & Logging","type":"n8n-nodes-base.stickyNote","position":[3728,1056],"parameters":{"color":6,"width":340,"height":1632,"content":"## 3️⃣ Communications & Logging\n\nAll outputs are dispatched in parallel:\n- **Welcome email** → new hire (with PDF attachments)\n- **HR notification** → HR team inbox\n- **Manager notification** → direct manager\n- **IT access request** → IT team\n- **Slack #general** → company-wide intro\n- **Slack #hr-team** → internal HR alert\n- **Google Sheets** → onboarding tracker row appended"},"typeVersion":1}],"active":false,"pinData":{},"settings":{"binaryMode":"separate","executionOrder":"v1"},"versionId":"a5ab2312-de9e-4886-8d8f-6403888f0e71","connections":{"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Download Handbook","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Welcome Email → New Hire","type":"main","index":0},{"node":"Notification Email → HR Team","type":"main","index":0},{"node":"Notification Email → Manager","type":"main","index":0},{"node":"System Access Request → IT Team","type":"main","index":0},{"node":"Slack Intro → General Channel","type":"main","index":0},{"node":"Append row in sheet","type":"main","index":0},{"node":"HR team","type":"main","index":0}]]},"Download Policy":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Onboarding Form":{"main":[[{"node":"Store Form Data","type":"main","index":0}]]},"Store Form Data":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Download Handbook":{"main":[[{"node":"Download Policy","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Generate AI Content":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}}}