workflows/Curate Contributor-Friendly Issues with AI and Send GitHub Newsletter via Email-11549/curate_contributor-friendly_issues_with_ai_and_send_github_newsletter_via_email.json
{"id":"ONi5jHcLK22qUEda","meta":{"instanceId":"57a13954f4ed37a4193a2c26d525fd5349259869b863b1ee01d7592b5d74be96","templateCredsSetupCompleted":true},"name":"Send curated contributor-friendly newsletter from GitHub repository","tags":[],"nodes":[{"id":"9d915cd3-9077-4308-b9f0-b6fc759c1441","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[-672,624],"parameters":{},"typeVersion":1},{"id":"b0c87ce1-9c4b-4839-888a-334220da5734","name":"Load Repo Info","type":"n8n-nodes-base.code","position":[-448,624],"parameters":{"jsCode":"return {\n      owner: \"vercel\",\n      name: \"next.js\"\n  }"},"typeVersion":2},{"id":"04c3ca7a-fa69-45d7-9cd4-6e28e85842e1","name":"Get Issue From Github","type":"n8n-nodes-base.graphql","position":[-224,624],"parameters":{"query":"=\n    query {\n        repository(owner: \"{{ $json.owner }}\", name: \"{{ $json.name }}\") {\n            releases (first: 1, orderBy: { field: CREATED_AT, direction: DESC }) {\n                nodes {\n                    name\n                    description\n                    createdAt\n                }\n            }\n            issues(first: 10, states: OPEN, orderBy: { field: CREATED_AT, direction: DESC }) {\n                nodes {\n                    title\n                    url\n                    body\n                    author {\n                        ... on User {\n                            login\n                        }\n                    }\n                    issueType {\n                        name\n                    }\n                    labels(first: 5) {\n                        edges {\n                            node {\n                                name\n                            }\n                        }\n                    }\n                    comments(first: 10) {\n                        nodes {\n                            body\n                        }\n                    }\n                }\n            }\n        }\n    }\n","endpoint":"https://api.github.com/graphql","variables":"=","authentication":"headerAuth"},"typeVersion":1.1},{"id":"789e9515-c002-4b86-a0c6-d009e2ec4ef9","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[928,816],"parameters":{"options":{},"fieldToSplitOut":"issues"},"typeVersion":1},{"id":"e1518ba9-818c-4a1f-877a-f773dad50ee1","name":"get Top Fit Issues","type":"n8n-nodes-base.code","position":[624,624],"parameters":{"jsCode":"const suitabilityOrder = { 'high': 0, 'medium': 1, 'low': 2 };\n  const sortedIssues = $input.first().json.output.issues.sort((a, b) => {\n      const suitabilityA = suitabilityOrder[a.issueSuitability.level];\n      const suitabilityB = suitabilityOrder[b.issueSuitability.level];\n      return suitabilityA - suitabilityB\n  }).slice(0, 3);\n\n  return {\n      \"issues\" : sortedIssues\n  }"},"executeOnce":false,"retryOnFail":false,"typeVersion":2},{"id":"3806efab-6ad2-4372-959d-27571ae3b39a","name":"Merge","type":"n8n-nodes-base.merge","position":[1920,800],"parameters":{"mode":"combine","options":{},"advanced":true,"mergeByFields":{"values":[{"field1":"output.issueURL","field2":"issueURL"}]}},"executeOnce":false,"typeVersion":3.2},{"id":"9ca0496b-9938-466b-b159-164f72a2bc24","name":"IssueRank Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[32,624],"parameters":{"text":"=\n    Generate a YAML object from the markdown list of issues and the release notes below.\n    \n    [ISSUES]\n    {{ $json.data.repository.issues.toJsonString() }}\n\n    [RELEASE]\n    {{ $json.data.repository.releases.nodes[0].toJsonString() }}\n","options":{"systemMessage":"=\n\t\tYou are a 10-year experienced developer with extensive open-source contribution experience, looking to contribute to open source.\n\n    First, summarize the key changes from the latest release provided below.\n    The summary should be a minimum of one and a maximum of three lines, highlighting the most important updates for potential contributors.\n\n    Next, search the issues below, read their content, and classify them according to the criteria for good contribution opportunities.\n    The URL for the issues is https://github.com/{{ $('Load Repo Info').first().json.repo}}/issues.\n    When classifying issues, evaluate them based on issue title, issue content, and how well they meet the criteria (high, medium, low).\n\n    [Criteria for good contribution opportunities]\n    Issues with detailed and well-written content.\n    Issues where bug or error logs and reproduction steps are clearly specified within the content.\n    Issues where the location of suspicious source code has been identified by the reporter or maintainer.\n    Issues where the maintainer has confirmed the problem, set a direction, or requested contributions.\n    Issues directly created by the maintainer.\n    Issues with a \"good first issue\" label and no \"blocked\" or \"wait-for-triage\" labels.\n    Issues for which a PR has not yet been created (it's okay if someone has only stated they will create a PR).\n\n    For issues that meet the above criteria well, explain and emphasize them in detail.\n    There is no need to summarize issues that do not meet the above criteria.\n    \n    Generate a YAML object that matches the TypeScript type $RepoInfo below:\n\n\t\tRules:\n    - Wrap every YAML list item in double quotes. Escape only double quotes (\") inside the string with a backslash (\").\n    - From the issues that meet the criteria, provide a minimum of 3 and a maximum of 5 of the most suitable ones.\n\t\t- Provide a minimum of 2 and a maximum of 3 reasons within the\n  reasons list.\n    - Translate all user-facing string values within the YAML output into the language specified by en-US. Do not translate the YAML keys.\n\n    type Level = \"high\" | \"medium\" | \"low\";\n\n    interface LevelWithReasons {\n        level: Level;\n        reasons: string[];\n    }\n\n    interface Issue {\n        issueTitle: string;\n        issueURL: string;\n        issueDescription: string;\n        issueSuitability: LevelWithReasons;\n    }\n\n    interface LatestRelease {\n        name: string;\n        description: string;\n    }\n\n    interface RepoInfo {\n        latestRelease: LatestRelease;\n        issues: Issue[];\n    }\n\n    ------------\n    Example output:\n    latestRelease:\n      name: \"v1.2.0-beta.0\"\n      description: |\n        ...\n    issues:\n    - issueTitle: |\n      ...\n      issueURL: \"https://example.com\"\n      issueDescription: |\n      ...\n      issueSuitability:\n        level: \"medium\"\n        reasons:\n            - \"...\"\n"},"promptType":"=define","needsFallback":true,"hasOutputParser":true},"retryOnFail":true,"typeVersion":3,"waitBetweenTries":3000},{"id":"5166ae3b-ef00-4bb5-8e9a-cb2608d6588d","name":"IssueRank Main Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[-32,832],"parameters":{"model":"x-ai/grok-4.1-fast:free","options":{}},"typeVersion":1},{"id":"15339e92-4499-477d-97f8-8e146ef207a1","name":"IssueRank Fallback Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[112,832],"parameters":{"model":"qwen/qwen3-coder:free","options":{}},"credentials":{},"typeVersion":1},{"id":"400b0a2c-d82c-4cd3-988b-d47df2f42dd2","name":"Deepwiki Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1248,640],"parameters":{"text":"=\n\tI want to contribute to the issues below in {{ $('Load Repo Info').item.json.owner }}/{{ $('Load Repo Info').item.json.name }}:\n\n\t### Issue\n\tissueURL : {{ $json.issueURL }}\n\tissueTitle: {{ $json.issueTitle }}\n\tissueDescription: {{ $json.issueDescription }}\n\n\tOutput:\n","options":{"batching":{"batchSize":3,"delayBetweenBatches":5000},"systemMessage":"=\n    you are an ai assistant that must use the available mcp tools when appropriate.\n\n    when the user asks any question about a GitHub repository — including how to contribute, how to fix an issue, how code works, or anything requiring repository context — you MUST call the deepwiki `ask_question` tool.\n\n    Input format:\n    - repoName: string — e.g. \"GitHub repository: owner/repo\"\n    - question: string — contains exactly one GitHub issue (including title and body)\n\n    Instructions:\n\n    1. Parse the issue’s title and body from the `question` field.\n    2. Construct a single string for the `question` field of the tool call. It MUST include the issue title, body, and a request for guidance. Use this exact template:\n\n         \"Here is a GitHub issue.\n         Title: {issueTitle}\n         Body: {issueBody}\n         How can this issue be resolved, what is its root cause, what is the recommended resolution approach, what is the technical difficulty, and what is a simple analogy for the issue and its resolution approach?\"\n\n    3. Call the deepwiki `ask_question` tool with an **object** containing:\n         - repoName: string\n         - question: string (constructed from step 2)\n    4. Never include an object inside the `question` field. It MUST always be a single string.\n    5. Base your final answer ONLY on the returned tool response.\n    6. Generate a single YAML object that matches the TypeScript type `Issue` below.\n    7. Add a brief, one-sentence summary of the contribution in the `summary` field.\n    8. For the `keyword` field, provide 1 to 5 highly relevant keywords related to the issue.\n\n    Rules:\n    - Do not include markdown code blocks in the output. (e.g., do not use ```python... ```.)\n    - Wrap every YAML list item in double quotes. Escape only double quotes (\") inside the string with a backslash (\").\n    - Translate all user-facing string values within the YAML output into the language specified by en-US. Do not translate the YAML keys.\n\n    type Level = \"High\" | \"Medium\" | \"Low\";\n\n    interface LevelWithReasons {\n        level: Level;\n        reasons: string[];\n    }\n\n    interface Issue {\n        issueURL: string;\n        deepwikiLink: string;\n        rootCause: string;\n        resolutionApproach: string[];\n        technicalDifficulty: LevelWithReasons;\n        summary: string;\n        keyword: string[];\n        analogy: string;\n    }\n\n    ------------\n    Example output:\n\n    issueURL: \"https://example.com\"\n    deepwikiLink: \"https://deepwiki.com/example\"\n    rootCause: |\n      ...\n    resolutionApproach: \n      - \"...\"\n      - \"...\"\n    technicalDifficulty:\n      level: \"Low\"\n      reasons:\n        - \"...\"\n    summary: \"...\"\n    keyword:\n      - \"...\"\n      - \"...\"\n    analogy: \"...\"\n"},"promptType":"=define","needsFallback":true,"hasOutputParser":true},"retryOnFail":true,"typeVersion":3,"waitBetweenTries":2000},{"id":"868b5398-c429-41a7-91c3-47055b23355b","name":"Deepwiki Main Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[1120,864],"parameters":{"model":"x-ai/grok-4.1-fast:free","options":{}},"credentials":{},"typeVersion":1},{"id":"abdf1ee4-3730-4e09-84ad-fdc14673b813","name":"Deepwiki Fallback Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[1264,864],"parameters":{"model":"qwen/qwen3-coder:free","options":{}},"credentials":{},"typeVersion":1},{"id":"467ce14b-5484-4e57-a822-19943906811a","name":"Deepwiki MCP","type":"@n8n/n8n-nodes-langchain.mcpClientTool","position":[1408,864],"parameters":{"include":"selected","options":{"timeout":60000},"endpointUrl":"https://mcp.deepwiki.com/mcp"},"typeVersion":1.2},{"id":"c5239797-e121-45bc-bed0-eba9b9639bd2","name":"IssueRank Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[256,848],"parameters":{"autoFix":true,"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"latestRelease\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"description\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"name\", \"description\"]\n    },\n    \"issues\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"issueTitle\": {\n            \"type\": \"string\"\n          },\n          \"issueURL\": {\n            \"type\": \"string\",\n            \"format\": \"uri\"\n          },\n          \"issueDescription\": {\n            \"type\": \"string\"\n          },\n          \"issueSuitability\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"level\": {\n                \"type\": \"string\",\n                \"enum\": [\"high\", \"medium\", \"low\"]\n              },\n              \"reasons\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              }\n            },\n            \"required\": [\"level\", \"reasons\"]\n          }\n        },\n        \"required\": [\"issueTitle\", \"issueURL\", \"issueDescription\", \"issueSuitability\"]\n      }\n    }\n  },\n  \"required\": [\"latestRelease\", \"issues\"]\n}"},"typeVersion":1.3},{"id":"964ac76b-b135-4dbf-bb31-0c1fc0db9692","name":"Deepwiki Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1536,864],"parameters":{"autoFix":true,"schemaType":"manual","inputSchema":"{\n        \"type\": \"object\",\n        \"properties\": {\n            \"issueURL\": {\n            \"type\": \"string\",\n            \"format\": \"uri\"\n            },\n            \"deepwikiLink\": {\n            \"type\": \"string\",\n            \"format\": \"uri\"\n            },\n            \"rootCause\": {\n            \"type\": \"string\"\n            },\n            \"resolutionApproach\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"string\"\n            }\n            },\n            \"technicalDifficulty\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"level\": {\n                \"type\": \"string\",\n                \"enum\": [\"High\", \"Medium\", \"Low\"]\n                },\n                \"reasons\": {\n                \"type\": \"array\",\n                \"items\": {\n                    \"type\": \"string\"\n                }\n                }\n            },\n            \"required\": [\"level\", \"reasons\"]\n            },\n            \"summary\": {\n            \"type\": \"string\"\n            },\n            \"keyword\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"string\"\n            }\n            },\n            \"analogy\": {\n            \"type\": \"string\"\n            }\n        },\n        \"required\": [\n            \"issueURL\",\n            \"deepwikiLink\",\n            \"rootCause\",\n            \"resolutionApproach\",\n            \"technicalDifficulty\",\n            \"summary\"\n        ]\n}"},"typeVersion":1.3},{"id":"64a6e9e2-a0da-42b0-a77a-e29ec2abb66f","name":"IssueRank Parser Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[336,1056],"parameters":{"model":"nvidia/nemotron-nano-12b-v2-vl:free","options":{}},"credentials":{},"typeVersion":1},{"id":"9b183a12-2934-4f20-8e75-e91964bc08a1","name":"Deepwiki Parser Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[1616,1072],"parameters":{"model":"nvidia/nemotron-nano-12b-v2-vl:free","options":{}},"credentials":{},"typeVersion":1},{"id":"d7b89cd9-1042-4258-9552-eaa2928614a6","name":"Title Generator Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1152,-64],"parameters":{"text":"=\n\tI want you to create a newsletter title for the issue below.\n\n\t### Issue\n\t{{ $json.issues[0].toJsonString() }}\n\n\tOutput:\n","options":{"systemMessage":"=\n\tYou are an AI assistant that creates a newsletter title based on a GitHub issue.\n\n\tInstructions:\n\t1. Read the provided GitHub issue.\n\t2. Generate a short, catchy, and clickbait-style newsletter title.\n\t3. The title MUST meet the following criteria:\n\t\t- It must include a relevant emoji at the beginning.\n\t\t- It must be easily understandable for a non-technical audience.\n\t\t- It must be fun and intriguing to maximize open rates.\n\t4. Translate the final title into the language specified by en-US.\n\n\tRules:\n\t- The output should be a single line of text containing only the title.\n\t- Do not include any other text, explanations, or markdown.\n\n\t------------\n\tExample (if target language is English):\n\t✨ Don't Miss Out! Your Weekly Dose of Awesome Insights.\n"},"promptType":"=define","needsFallback":true},"retryOnFail":true,"typeVersion":3,"waitBetweenTries":2000},{"id":"88820e38-9e91-47f4-a631-416ced1d7546","name":"Title Generator Main Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[1072,176],"parameters":{"model":"x-ai/grok-4.1-fast:free","options":{}},"credentials":{},"typeVersion":1},{"id":"47db7cf3-d55a-443b-a294-853be2082a17","name":"Title Generator Fallback Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[1232,176],"parameters":{"model":"qwen/qwen3-coder:free","options":{}},"credentials":{},"typeVersion":1},{"id":"213c6ac0-0db0-4c2d-9d64-78c9715bfce0","name":"Merge1","type":"n8n-nodes-base.merge","position":[2224,624],"parameters":{"mode":"combine","options":{},"combineBy":"combineByPosition"},"typeVersion":3.2},{"id":"4fd5f07b-6ab0-4185-80af-427973e82912","name":"convert HTML","type":"n8n-nodes-base.code","position":[2480,624],"parameters":{"jsCode":"const createBulletedList = (items) => {\n  if (!Array.isArray(items) || items.length === 0) {\n    return '';\n  }\n  return items.map(item => `\n    <tr>\n      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:1.6;text-align:left;color:#000000;\">• ${item}</div>\n      </td>\n    </tr>\n  `).join('');\n};\n\nconst generateEmailHTML = (data) => {\n  const { latestRelease, summaries, issues } = data;\n\n  const latestReleaseHTML = `\n    <div style=\"margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:15px;text-align:center;\">\n              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border:3px solid #52af0f;vertical-align:top;\" width=\"100%\">\n                  <tbody>\n                    <tr>\n                      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:15px;font-weight:bold;line-height:1;text-align:left;color:#000000;\">🚀 Latest Release (${latestRelease.name})</div>\n                      </td>\n                    </tr>\n                    <tr>\n                      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:1.6;text-align:left;color:#000000;\">${latestRelease.description}</div>\n                      </td>\n                    </tr>\n                  </tbody>\n                </table>\n              </div>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n  `;\n\n  const summaryHTML = `\n    <div style=\"margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:15px;text-align:center;\">\n              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border:3px solid #193404;vertical-align:top;\" width=\"100%\">\n                  <tbody>\n                    <tr>\n                      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:15px;font-weight:bold;line-height:1;text-align:left;color:#000000;\">📌 Quick Summary</div>\n                      </td>\n                    </tr>\n                    ${summaries.map(summary => `\n                      <tr>\n                        <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                          <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:1.6;text-align:left;color:#000000;\">• ${summary}</div>\n                        </td>\n                      </tr>\n                    `).join('')}\n                  </tbody>\n                </table>\n              </div>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n  `;\n\n  const issuesHTML = issues.map((issue, index) => `\n    ${index > 0 ? `\n      <tr>\n        <td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n          <p style=\"border-top:solid 1px #D3D3D3;font-size:1px;margin:0px auto;width:100%;\"></p>\n        </td>\n      </tr>\n    ` : ''}\n    <tr>\n      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:22px;line-height:1;text-align:left;color:#000000;\">${issue.title}</div>\n      </td>\n    </tr>\n    <tr>\n      <td style=\"font-size:0px;word-break:break-word;\">\n        <div style=\"height:20px;line-height:20px;\">&#8202;</div>\n      </td>\n    </tr>\n    <tr>\n      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:15px;font-weight:bold;line-height:1;text-align:left;color:#000000;\">🔑 Keywords</div>\n      </td>\n    </tr>\n    <tr>\n      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:1.6;text-align:left;color:#000000;\">${issue.keywords.join(', ')}</div>\n      </td>\n    </tr>\n    <tr>\n      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:15px;font-weight:bold;line-height:1;text-align:left;color:#000000;\">🔄 Analogy</div>\n      </td>\n    </tr>\n    <tr>\n      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:1.6;text-align:left;color:#000000;\">${issue.analogy}</div>\n      </td>\n    </tr>\n    <tr>\n      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:15px;font-weight:bold;line-height:1;text-align:left;color:#000000;\">🧾 Issue Description</div>\n      </td>\n    </tr>\n    <tr>\n      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:1.6;text-align:left;color:#000000;\">${issue.description}</div>\n      </td>\n    </tr>\n    <tr>\n      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:15px;font-weight:bold;line-height:1;text-align:left;color:#000000;\">🧩 Root Cause</div>\n      </td>\n    </tr>\n    <tr>\n      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;line-height:1.6;text-align:left;color:#000000;\">${issue.rootCause}</div>\n      </td>\n    </tr>\n    <tr>\n      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:15px;font-weight:bold;line-height:1;text-align:left;color:#000000;\">🛠️ Resolution Approach</div>\n      </td>\n    </tr>\n    ${createBulletedList(issue.resolutionApproach)}\n    <tr>\n      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:15px;font-weight:bold;line-height:1;text-align:left;color:#000000;\">✅ Issue Suitability: ${issue.suitability.level}</div>\n      </td>\n    </tr>\n    ${createBulletedList(issue.suitability.reasons)}\n    <tr>\n      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:15px;font-weight:bold;line-height:1;text-align:left;color:#000000;\">🧗 Technical Difficulty: ${issue.technicalDifficulty.level}</div>\n      </td>\n    </tr>\n    ${createBulletedList(issue.technicalDifficulty.reasons)}\n    <tr>\n      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:15px;font-weight:bold;line-height:1;text-align:left;color:#000000;\">👉 Go to Issue <a href=\"${issue.issueURL}\">(Link)</a></div>\n      </td>\n    </tr>\n    <tr>\n      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n        <div style=\"font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:15px;font-weight:bold;line-height:1;text-align:left;color:#000000;\">🌀 Go to Deepwiki search result <a href=\"${issue.deepwikiLink}\">(Link)</a></div>\n      </td>\n    </tr>\n  `).join('');\n\n  return `<!doctype html>\n<html lang=\"und\" dir=\"auto\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\">\n\n<head>\n  <title></title>\n  <!--[if !mso]><!-->\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <!--<![endif]-->\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <style type=\"text/css\">\n    #outlook a {\n      padding: 0;\n    }\n\n    body {\n      margin: 0;\n      padding: 0;\n      -webkit-text-size-adjust: 100%;\n      -ms-text-size-adjust: 100%;\n    }\n\n    table,\n    td {\n      border-collapse: collapse;\n      mso-table-lspace: 0pt;\n      mso-table-rspace: 0pt;\n    }\n\n    img {\n      border: 0;\n      height: auto;\n      line-height: 100%;\n      outline: none;\n      text-decoration: none;\n      -ms-interpolation-mode: bicubic;\n    }\n\n    p {\n      display: block;\n      margin: 13px 0;\n    }\n  </style>\n  <!--[if mso]>\n    <noscript>\n    <xml>\n    <o:OfficeDocumentSettings>\n      <o:AllowPNG/>\n      <o:PixelsPerInch>96</o:PixelsPerInch>\n    </o:OfficeDocumentSettings>\n    </xml>\n    </noscript>\n    <![endif]-->\n  <!--[if lte mso 11]>\n    <style type=\"text/css\">\n      .mj-outlook-group-fix { width:100% !important; }\n    </style>\n    <![endif]-->\n  <!--[if !mso]><!-->\n  <link href=\"https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700\" rel=\"stylesheet\" type=\"text/css\">\n  <style type=\"text/css\">\n    @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);\n  </style>\n  <!--<![endif]-->\n  <style type=\"text/css\">\n    @media only screen and (min-width:480px) {\n      .mj-column-per-100 {\n        width: 100% !important;\n        max-width: 100%;\n      }\n    }\n  </style>\n  <style media=\"screen and (min-width:480px)\">\n    .moz-text-html .mj-column-per-100 {\n      width: 100% !important;\n      max-width: 100%;\n    }\n  </style>\n  <style type=\"text/css\">\n    @media only screen and (max-width:479px) {\n      table.mj-full-width-mobile {\n        width: 100% !important;\n      }\n\n      td.mj-full-width-mobile {\n        width: auto !important;\n      }\n    }\n  </style>\n</head>\n\n<body style=\"word-spacing:normal;\">\n  <div aria-roledescription=\"email\" style=\"\" role=\"article\" lang=\"und\" dir=\"auto\">\n    <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n    <div style=\"margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:20px 0;text-align:center;\">\n              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:600px;\" ><![endif]-->\n              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">\n                  <tbody>\n                    <tr>\n                      <td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\">\n                          <tbody>\n                            <tr>\n                              <td style=\"width:550px;\">\n                                <img alt=\"\" src=\"https://lh3.googleusercontent.com/d/1VYyXuiNQOnHCBELXh4_6ZDEoL30x7OQk\" style=\"border:0;display:block;outline:none;text-decoration:none;height:150;width:100%;font-size:13px;\" width=\"550\" height=\"150\" />\n                              </td>\n                            </tr>\n                          </tbody>\n                        </table>\n                      </td>\n                    </tr>\n                  </tbody>\n                </table>\n              </div>\n              <!--[if mso | IE]></td></tr></table><![endif]-->\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n    <!--[if mso | IE]></td></tr></table><![endif]-->\n    <p style=\"border-top:solid 1px #D3D3D3;font-size:1px;margin:0px auto;width:100%;\">\n    </p>\n    <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-top:solid 1px #D3D3D3;font-size:1px;margin:0px auto;width:550px;\" role=\"presentation\" width=\"550px\" ><tr><td style=\"height:0;line-height:0;\"> &nbsp;\n</td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n    <div style=\"margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:20px 0;text-align:center;\">\n              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n              ${latestReleaseHTML}\n              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n              ${summaryHTML}\n              <!--[if mso | IE]></td></tr></table></td></tr><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n              <div style=\"margin:0px auto;max-width:600px;\">\n                <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">\n                  <tbody>\n                    <tr>\n                      <td style=\"direction:ltr;font-size:0px;padding:20px 0;text-align:center;\">\n                        <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:600px;\" ><![endif]-->\n                        <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n                          <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">\n                            <tbody>\n                              ${issuesHTML}\n                            </tbody>\n                          </table>\n                        </div>\n                        <!--[if mso | IE]></td></tr></table><![endif]-->\n                      </td>\n                    </tr>\n                  </tbody>\n                </table>\n              </div>\n              <!--[if mso | IE]></td></tr></table></td></tr></table><![endif]-->\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n    <!--[if mso | IE]></td></tr></table><![endif]-->\n  </div>\n</body>\n\n</html>`;\n};\n\n// 사용 예시\nconst exampleData = {\n  latestRelease: {\n    name: 'v16.1.0-canary.15',\n    description: 'Upgrade React twice for December 2025, improvements and fixes in Turbopack with better handling of serialization, symlinks, and race conditions, plus new NextConfigRuntime and server file generation before prerendering.'\n  },\n  summaries: [\n    'Fixes the bug where prefixing dynamic path segments on redirects incorrectly generates static route types, ensuring correct typing of dynamic routes in Next.js.',\n    'Fix caching issues with dynamic segments when localization is applied in Next.js'\n  ],\n  issues: [\n    {\n      title: '[bug] Prefixing dynamic path segments on redirects breaks typedRoutes, generating static routes instead of dynamic routes',\n      keywords: ['dynamic routes', 'redirects', 'typedRoutes', 'type generation', 'Next.js routing'],\n      analogy: 'This issue is like labeling a flexible road sign that changes based on traffic (dynamic route) as a fixed, unchangeable sign (static route), causing drivers to get confused. The fix is to ensure the road sign is correctly labeled as changeable, guiding drivers accurately.',\n      description: 'This bug describes how dynamic path segments prefixed in redirects are incorrectly typed as static routes in generated types. It includes detailed reproduction steps, a sandbox demo, and environment specs. Areas affected include Dynamic Routes and Redirects in local dev and build stages.',\n      rootCause: 'The root cause of the issue is that when dynamic path segments are prefixed in redirects, the type generation process mistakenly treats these segments as static instead of dynamic. This breaks the typedRoutes system by generating static route types where there should be dynamic ones, causing a mismatch in route typing for both local development and build stages.',\n      resolutionApproach: [\n        'Modify the type generation logic to correctly identify and preserve dynamic path segments even when prefixed in redirects.',\n        'Update the redirect handling logic to ensure dynamic segments are interpreted and represented correctly in the types.',\n        'Add comprehensive tests that cover redirects with prefixed dynamic segments to prevent regression.',\n        'Review and refactor the related modules handling route typing and redirect resolution to ensure robust handling of dynamic routes.'\n      ],\n      suitability: {\n        level: 'high',\n        reasons: [\n          'Clear reproduction steps with a live sandbox link.',\n          'Detailed explanation of current vs expected behavior.',\n          'Specific affected areas and environment details provided.'\n        ]\n      },\n      technicalDifficulty: {\n        level: 'Medium',\n        reasons: [\n          'Requires a deep understanding of the routing and type generation internals in Next.js.',\n          'Involves fixing the interaction between dynamic routes and redirect logic which can affect both local dev server and static build outcomes.',\n          'Needs careful testing to avoid introducing new bugs in complex routing scenarios.'\n        ]\n      },\n      issueURL: 'https://github.com/vercel/next.js/issues/86877',\n      deepwikiLink: 'https://github.com/vercel/next.js/issues/86877'\n    },\n    {\n      title: 'Cache components does not work on dynamic segments when localized',\n      keywords: ['caching', 'dynamic segments', 'localization', 'Next.js', 'routing'],\n      analogy: 'It\\'s like trying to lock a door that changes its shape based on language; you need a lock that adapts to those changes.',\n      description: 'The bug covers how localized dynamic segments prevent caching components, explaining that localization frameworks force routes to be dynamic which breaks caching. It provides a reproduction repo, environment details, and describes expected vs current behavior.',\n      rootCause: 'Localized dynamic segments cause the caching mechanism to fail because localization frameworks treat routes as dynamic, interfering with static caching strategies.',\n      resolutionApproach: [\n        'Modify the caching strategy to recognize and correctly handle localized dynamic segments.',\n        'Improve route handling to distinguish between truly dynamic routes and localized segments.',\n        'Implement fallback caching mechanisms specific to localization scenarios.'\n      ],\n      suitability: {\n        level: 'high',\n        reasons: [\n          'Detailed reproduction steps and repo link provided.',\n          'Thorough explanation of the bug and relationship with localization frameworks.',\n          'Affects multiple deployment stages and likely many users.'\n        ]\n      },\n      technicalDifficulty: {\n        level: 'High',\n        reasons: [\n          'Interplay between localization and dynamic routing is complex.',\n          'Caching requires careful management to preserve dynamic segment functionality.',\n          'Requires deep understanding of Next.js routing and caching internals.'\n        ]\n      },\n      issueURL: 'https://github.com/vercel/next.js/issues/86870',\n      deepwikiLink: 'https://nextjs.org/docs/advanced-features/cache-control'\n    }\n  ]\n};\n\nreturn {\n  \"html\" : generateEmailHTML(exampleData)\n}"},"executeOnce":false,"typeVersion":2,"alwaysOutputData":false},{"id":"6412a29a-448a-4d2f-b555-5bf2e08ab0bb","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1488,128],"parameters":{"width":736,"height":928,"content":"## Usecases\nReceive a periodic newsletter featuring curated, contributor-friendly issues from your favorite repositories.\n\nBy regularly reviewing active issues and new releases, you'll naturally develop stronger habits around open source contribution as your brain starts recognizing these projects as important.\n\n\n### How it works\n* Collects the latest issues, comments, and recent commits using the GitHub API\n* Uses an AI model to select up to three beginner-friendly issues worth contributing to\n* Summarizes each issue—including contribution guidance and relevance—based on Deepwiki MCP data\n* Converts the summary into HTML and delivers it as an email newsletter\n\n### Requirements\n* [Github Personal Access Token](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens#creating-a-fine-grained-personal-access-token)\n* [Openrouter API key](https://openrouter.ai/settings/keys)\n* [Google App Password](https://myaccount.google.com/apppasswords)\n* Verify that your target open-source project is indexed\nat https://deepwiki.com/{owner}/{repo} (e.g. https://deepwiki.com/vercel/next.js)\n\n### How to Use\n1. Update the \"Load repo info\" configuration with your target repository's owner and name (e.g., owner: `vercel`, repo: `next.js`)\n2. Add your GitHub Personal Access Token to the credentials of the \"Get Issues from GitHub\" node\n3. Connect your OpenRouter API key to all models linked to the Agent node\n4. Add your Google App Password to the \"Send email\" node credentials\n5. Enter the email address of the account authenticated with the Google App Password in both the \"to email\" and \"from email\" fields—the newsletter will be sent to that address\n\n### Customization\n* Modify the maximum number of contributor-friendly issues retrieved in the \"Get Top Fit Issues\" node\n* For improved results, adjust the models connected to the Agent node\n* Refine the criteria for \"contributor-friendliness\" in the \"IssueRank Agent\" node\n\n### Cron Setup\n- Replace the manual trigger with a Schedule Trigger node or another scheduling-capable node\n- If you don't have an n8n Cloud account, use this [alternative](https://github.com/dst03106/n8n-issue-collector?tab=readme-ov-file#%EF%B8%8F-how-to-use) instead: fork the repository and follow the setup instructions\nd follow the setup instructions.\n"},"typeVersion":1},{"id":"f88b7e5b-af95-4958-9851-932136381dba","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-480,480],"parameters":{"color":7,"width":1240,"height":732,"content":"## 1. Selecting Contributor-Friendly Issues\nRetrieves issue data from the repository and identifies issues that are good opportunities for contribution."},"typeVersion":1},{"id":"0dce7bff-f361-4706-84d7-270489a489b1","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[976,-192],"parameters":{"color":7,"width":568,"height":492,"content":"## 2-1. Generating a Newsletter Title\nCreates a newsletter title based on the issue content."},"typeVersion":1},{"id":"296c5ad1-05fa-4a37-b304-ec74705715b8","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[896,512],"parameters":{"color":7,"width":920,"height":716,"content":"## 2-2. Summarizing Contribution Details\nGenerates information about contribution methods and levels (such as contribution suitability and technical difficulty) using Deepwiki MCP."},"typeVersion":1},{"id":"5caf142d-99e2-4160-bbe5-967f5a509393","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[2352,528],"parameters":{"color":7,"width":696,"height":300,"content":"## 3. Converting Issue Data to HTML and Sending via email\nConverts issue-related data into HTML format and sends it through email."},"typeVersion":1},{"id":"6f302cec-a7a4-4fa8-9902-e26c53c59ae9","name":"Send email","type":"n8n-nodes-base.emailSend","position":[2704,624],"webhookId":"cfa480e8-274d-4291-a650-dd5e5b1fd54e","parameters":{"html":"={{ $json.html }}","options":{},"subject":"=[Issue Report] {{ $('Load Repo Info').item.json.owner }}/{{ $('Load Repo Info').item.json.name }} - {{ $('Title Generator Agent').item.json.output }}","toEmail":"","fromEmail":""},"executeOnce":false,"typeVersion":2.1},{"id":"9a8a5dd2-78d2-4d18-b3fe-4a8e512a8a39","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-528,-80],"parameters":{"width":508,"height":488,"content":"## Newsletter\n![](https://lh3.googleusercontent.com/d/1iHWRiMm5mrWkA2r-t81Uzykqcss2Pl8G)"},"typeVersion":1},{"id":"59772e0e-ac3a-4b55-8fc7-4a8e48d0677a","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-960,1216],"parameters":{"width":444,"height":1064,"content":"## Newsletter\n![](https://lh3.googleusercontent.com/d/1Pfdp4mttjAM9E7rV_y5qDbhgqmunECF_)"},"typeVersion":1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"0e4cd2fe-5038-4ef0-957c-caa9679eee58","connections":{"Merge":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"convert HTML","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Deepwiki Agent","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Deepwiki MCP":{"ai_tool":[[{"node":"Deepwiki Agent","type":"ai_tool","index":0}]]},"convert HTML":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Deepwiki Agent":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Load Repo Info":{"main":[[{"node":"Get Issue From Github","type":"main","index":0}]]},"IssueRank Agent":{"main":[[{"node":"get Top Fit Issues","type":"main","index":0}]]},"get Top Fit Issues":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"Title Generator Agent","type":"main","index":0}],[]]},"Deepwiki Main Model":{"ai_languageModel":[[{"node":"Deepwiki Agent","type":"ai_languageModel","index":0}]]},"IssueRank Main Model":{"ai_languageModel":[[{"node":"IssueRank Agent","type":"ai_languageModel","index":0}]]},"Deepwiki Parser Model":{"ai_languageModel":[[{"node":"Deepwiki Structured Output Parser","type":"ai_languageModel","index":0}]]},"Get Issue From Github":{"main":[[{"node":"IssueRank Agent","type":"main","index":0}]]},"Title Generator Agent":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"IssueRank Parser Model":{"ai_languageModel":[[{"node":"IssueRank Structured Output Parser","type":"ai_languageModel","index":0}]]},"Deepwiki Fallback Model":{"ai_languageModel":[[{"node":"Deepwiki Agent","type":"ai_languageModel","index":1}]]},"IssueRank Fallback Model":{"ai_languageModel":[[{"node":"IssueRank Agent","type":"ai_languageModel","index":1}]]},"Title Generator Main Model":{"ai_languageModel":[[{"node":"Title Generator Agent","type":"ai_languageModel","index":0}]]},"Title Generator Fallback Model":{"ai_languageModel":[[{"node":"Title Generator Agent","type":"ai_languageModel","index":1}]]},"Deepwiki Structured Output Parser":{"ai_outputParser":[[{"node":"Deepwiki Agent","type":"ai_outputParser","index":0}]]},"IssueRank Structured Output Parser":{"ai_outputParser":[[{"node":"IssueRank Agent","type":"ai_outputParser","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Load Repo Info","type":"main","index":0}]]}}}