workflows/Score and route BANT-qualified leads using Gemini, Gmail, Google Sheets and Telegram-15279/15279-score-and-route-bant-qualified-leads-using-gemini--gmail--google-sheets-and-telegram.webp
{"meta":{"instanceId":"a8340bdf39af29e6156ac08b71563819bdf196e48d1b022b1219ede60e630c2e","templateCredsSetupCompleted":true},"nodes":[{"id":"ab9dec3c-e95b-4be3-9fe7-76d8b569f284","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-560,1888],"parameters":{"color":5,"width":472,"height":264,"content":"### Cold Leads: Email Nurturing\n\nThis path provides value to leads who aren't ready to buy yet."},"typeVersion":1},{"id":"e84275ea-29d7-431e-bc92-610db779d59f","name":"Sticky Note (0)","type":"n8n-nodes-base.stickyNote","position":[-2704,1408],"parameters":{"color":{},"width":656,"height":664,"content":"## Automated Lead Qualification & Follow-up\n\nThis workflow intelligently qualifies incoming leads using the BANT framework (Budget, Authority, Need, Timing) and automatically routes them to the most appropriate follow-up action:\n\n*   **Hot Leads:** Redirected to a calendar booking link.\n*   **Mid Leads:** Prompted to start a pre-filled WhatsApp chat.\n*   **Cold Leads:** Sent a nurturing email with helpful resources.\n\n### To get started:\n1.  **Connect Google Gemini** (see red sticky note below).\n2.  **Connect Gmail**.\n3.  **Customize the `Score Lead` prompt** with your specific BANT criteria.\n4.  **Set your Telegram** in the `Telegram` node.\n5.  **Activate the `Lead Contact Form`** and submit a test application.\n\n\n---\n\n### Automate your operations today\nYour time is valuable. Let us automate the boring stuff for you.\n\n**👇 CHOOSE YOUR PATH:**\n\n[ **I WANT TO EMAIL YOU** ](https://direct-mail-gateway.lovable.app)\n> *We've put our heart into this business evaluation machine.*\n\n[ **💡 I HAVE A SPECIFIC REQUEST** ](https://gurey-ai.vercel.app/contact)\n\n*wish you the best*"},"typeVersion":1},{"id":"276d8cf8-f6ce-449e-9038-d4273c5cebc1","name":"Sticky Note (4)","type":"n8n-nodes-base.stickyNote","position":[-1408,1568],"parameters":{"color":6,"width":328,"height":172,"content":"This is the brain of your lead qualification!\n\nOpen this node and adapt the `BANT Criteria Mapping` and `Scoring Logic` in the prompt to **your specific sales process and ideal customer profile**."},"typeVersion":1},{"id":"034b7096-66a1-4adb-8fbc-ff7e0bf019ce","name":"Sticky Note (6)","type":"n8n-nodes-base.stickyNote","position":[-864,1584],"parameters":{"color":7,"width":320,"height":144,"content":"This `Switch` node acts as your lead router, directing leads down different paths based on the `hot`, `mid`, or `cold` score provided by the AI.\n\n\n\n\n\n\n\n\n\n\n"},"typeVersion":1},{"id":"131dcf4d-443d-40e8-90cc-99ea952201e5","name":"Sticky Note (7)","type":"n8n-nodes-base.stickyNote","position":[-560,1344],"parameters":{"color":3,"width":472,"height":268,"content":"### Hot Leads: Calendar Booking\n\nThis path is for your most qualified leads.\n\n\n\n\n\n\n\n\n\n"},"typeVersion":1},{"id":"5f7a8fc5-e1e2-4464-8cf9-f2898325fce7","name":"Sticky Note (8)","type":"n8n-nodes-base.stickyNote","position":[-560,1616],"parameters":{"color":4,"width":472,"height":268,"content":"### Mid Leads: WhatsApp Follow-up\n\nThis path engages moderately qualified leads via WhatsApp.\n\n\n\n\n\n\n\n\n"},"typeVersion":1},{"id":"75cd0f76-3848-44a6-b8a9-f27ab9d350d9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,1216],"parameters":{"color":7,"width":416,"height":1040,"content":"---\n\n## Was this helpful? Let me know!\n\nI really hope this template helped you. Your feedback is what helps me create better resources for the n8n community.\n\n## who made this workflow\n\nAbdullahi Osman — AI Automation Engineer | [Gurey AI](https://gurey-ai.vercel.app/) — reach me at gureyai2006@gmail.com\n\nBuilding AI automation for a year — built 50+ AI systems\n\n### [**Contact me**](https://gurey-ai.vercel.app/contact)\n\n\n### **Have Feedback, a Question, or a Project Idea?**\n\n\n#### ➡️ **[Click here to go to the Contact Form](https://gurey-ai.vercel.app/contact)**\n\n---\n\n## [Created by Gurey AI](https://gurey-ai.vercel.app)\n### other workflows i've built\n- [**Full Email inbox managing system**](https://n8n.io/workflows/9157-ai-powered-email-triage-and-auto-response-system-with-openai-agents-and-gmail/)\n- [**Client Onboarding Form**](https://n8n.io/workflows/8977-client-onboarding-with-form/)\n- [**Rag AI Agent**](https://n8n.io/workflows/9050-build-a-document-qa-system-with-google-drive-pinecone-and-openai-rag/)\n- [**Voice-to-Social AI Post Generator**](https://n8n.io/workflows/15257-generate-linkedin-and-twitter-posts-from-telegram-voice-replies-with-gpt-5-and-google-sheets/)\n- [**Salah Calendar Blocker**](https://n8n.io/workflows/15124-block-daily-salah-windows-in-google-calendar-with-telegram-and-islamicapi/)\n*more workflows coming soon — [follow along](https://n8n.io/creators/abdosman06/)*\n\n---\n\nNeed Help?\nEmail me with your questions [my email](mailto:gureyai2006@gmail.com) or ask in the [Forum](https://community.n8n.io/)!\nHappy Hacking!\n\n---\n\nHappy Automating!\nAbdullahi Osman | [AI Growth Partner](https://gurey-ai.vercel.app/)"},"typeVersion":1},{"id":"7f9bc461-e878-4fc7-aa6d-8c7378efa17b","name":"Log client data","type":"n8n-nodes-base.googleSheets","position":[-1552,1728],"parameters":{"columns":{"value":{"Date":"={{ $now.toISO() }}","Role":"={{ $json.Role }}","Email":"={{ $json.Email }}","Goals":"={{ $json.Goals }}","Website":"={{ $json.Website }}","Last Name":"={{ $json['Last Name'] }}","First Name":"={{ $json['First Name'] }}","Company Size":"={{ $json['Company Size'] }}","Phone Number":"={{ $json.Phone }}","Company Name ":"={{ $json.Company }}","Summarization":"=You have recieved a submission from {{ $json['First Name'] }} {{ $json['Last Name'] }}, and this is his email: {{ $json.Email }}.\n\nHe is the {{ $json.Role }} of {{ $json.Company }}, and the company size is {{ $json['Company Size'] }}, and this is their website: {{ $json.Website }}\n\nTheir budget is {{ $json.Budget }}, and their annual revenue is {{ $json.Revenue }}\n\nTheir goal of this submission is: {{ $json.Goals }}\n\nDate: {{ $json['Submitted At'] }}\n\n------------------------------------------------------------------","Annual Revenue":"={{ $json.Revenue }}","Project Budget":"={{ $json.Budget }}"},"schema":[{"id":"First Name","type":"string","display":true,"removed":false,"required":false,"displayName":"First Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Last Name","type":"string","display":true,"removed":false,"required":false,"displayName":"Last Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Email","type":"string","display":true,"removed":false,"required":false,"displayName":"Email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Role","type":"string","display":true,"removed":false,"required":false,"displayName":"Role","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Company Name ","type":"string","display":true,"removed":false,"required":false,"displayName":"Company Name ","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Website","type":"string","display":true,"removed":false,"required":false,"displayName":"Website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Phone Number","type":"string","display":true,"removed":false,"required":false,"displayName":"Phone Number","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Company Size","type":"string","display":true,"removed":false,"required":false,"displayName":"Company Size","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Annual Revenue","type":"string","display":true,"removed":false,"required":false,"displayName":"Annual Revenue","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Project Budget","type":"string","display":true,"removed":false,"required":false,"displayName":"Project Budget","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Goals","type":"string","display":true,"removed":false,"required":false,"displayName":"Goals","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Summarization","type":"string","display":true,"removed":false,"required":false,"displayName":"Summarization","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Date","type":"string","display":true,"removed":false,"required":false,"displayName":"Date","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Email"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"appendOrUpdate","sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1udMi5zL1XD79QAXZO4NwlpFOjOY2CU0uqAJ4jWrwv5s/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1udMi5zL1XD79QAXZO4NwlpFOjOY2CU0uqAJ4jWrwv5s","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1udMi5zL1XD79QAXZO4NwlpFOjOY2CU0uqAJ4jWrwv5s/edit?usp=drivesdk","cachedResultName":"Form Clients"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets account"}},"typeVersion":4.7},{"id":"8ddd6070-c88c-494a-b142-7d63481c60b5","name":"Set feilds","type":"n8n-nodes-base.set","position":[-1776,1728],"parameters":{"options":{},"assignments":{"assignments":[{"id":"a4e53c63-01a9-449e-bfb7-7fb03afafe22","name":"First Name","type":"string","value":"={{ $json['First Name'] }}"},{"id":"d1f3c451-4e16-458e-88b4-ec27e1da813b","name":"Last Name","type":"string","value":"={{ $json['Last Name'] }}"},{"id":"eb1265a5-dc98-4640-bc39-175a6c57a572","name":"Email","type":"string","value":"={{ $json.Email }}"},{"id":"dfa9ce8d-bc2a-495f-afe5-973bf3e88142","name":"Phone","type":"string","value":"={{ $json.Phone }}"},{"id":"57865ecf-b8d6-4155-8713-e90949716e13","name":"Role","type":"string","value":"={{ $json.Role }}"},{"id":"a085ea60-c559-490f-86a4-59a3b76855e3","name":"Company","type":"string","value":"={{ $json.Company }}"},{"id":"fc64d706-9096-443b-b1fb-6444c3e615ff","name":"Company Size","type":"string","value":"={{ $json['Company Size'] }}"},{"id":"bd200b38-df87-4279-8943-0b89ec1a88f8","name":"Website","type":"string","value":"={{ $json.Website }}"},{"id":"c87f61f2-c5d3-4723-8cef-1aeaf5531417","name":"Budget","type":"string","value":"={{ $json.Budget }}"},{"id":"ea13f8f0-46ce-4c6f-a0ee-b61b155c7bb1","name":"Revenue","type":"string","value":"={{ $json.Revenue }}"},{"id":"9f960a45-0de5-4e81-a75d-3eb0ccd1321e","name":"Goals","type":"string","value":"={{ $json.Goals }}"},{"id":"9d376a9a-c9d9-4c84-9d8a-7f07d302e11a","name":"Submitted At","type":"string","value":"={{ $now.format('yyyy-MM-dd') }}"}]}},"typeVersion":3.4},{"id":"f5caea0d-d9b6-4598-ba9b-df5bc8e6593d","name":"Score Lead1","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[-1328,1728],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash","cachedResultName":"models/gemini-2.5-flash"},"options":{"temperature":0},"messages":{"values":[{"content":"=<role>\nYou are a Lead Scoring Expert specializing in the BANT (Budget, Authority, Need, Timing) qualification framework. Your analysis is critical for an automated sales workflow. You must follow all instructions precisely and only output the final JSON object.\n</role>\n\n<instructions>\n<goal>\nAnalyze the responses from a lead capture form and return a single score: 'hot', 'mid', or 'cold'. This score will determine the next step in the sales process (e.g., sending a calendar link, starting a chat, or sending a follow-up email).\n</goal>\n\n<context>\nYou will be given four pieces of information from a lead, corresponding to the BANT framework.\n\n**BANT Criteria Mapping:**\n- **Budget:** The answer to \"what's your budget\".\n- **Authority:** The answer to \"what's your current position / job ?\".\n- **Need:** The answer to \"what do you want to build in n8n ?\".\n- **Timing:** The answer to \"when do you want to start ?\".\n\n**Scoring Logic:**\nYou must first evaluate each of the four BANT components individually as 'hot', 'mid', or 'cold' based on the following criteria:\n\n- **Budget:**\n    - **Hot:** Specific, significant budget mentioned (e.g., >$10k-50k, 'we have a budget allocated', 'funded project').\n    - **Mid:** Vague but positive budget (e.g., '$5k-$10k', 'flexible', 'depends on scope').\n    - **Cold:** No budget, very low budget, or just exploring (e.g., $1k-5k, 'no budget', 'I'm a student', 'just looking', 'undecided').\n\n- **Authority:**\n    - **Hot:** Clear decision-maker or C-level role (e.g., CEO, Founder, CTO, Head of, Director, Owner, Project Manager).\n    - **Mid:** Influencer or team member (e.g., Developer, Analyst, Specialist, Engineer).\n    - **Cold:** No clear business authority (e.g., Student, Intern, Hobbyist, Unemployed, 'Just learning').\n\n- **Need:**\n    - **Hot:** Specific, urgent, business-critical problem described (e.g., 'Automate our client onboarding process', 'Integrate our CRM with our billing system to save 10 hours a week').\n    - **Mid:** General business goal (e.g., 'Improve our marketing workflows', 'Connect some apps', 'build an internal tool').\n    - **Cold:** Vague, personal, or for learning purposes (e.g., 'Just playing around', 'A personal project', 'I don't know yet', 'testing').\n\n- **Timing:**\n    - **Hot:** Immediate timeline (e.g., 'ASAP', 'This week', 'Within the month', 'Immediately').\n    - **Mid:** Near-term timeline (e.g., 'Next quarter', 'In 1-3 months').\n    - **Cold:** Long-term or no timeline (e.g., 'In 6+ months', 'No timeline yet', 'Just researching').\n\n**Overall Classification Rules:**\nAfter evaluating each component, use the following rules to determine the final score:\n- **Hot:** The lead must have at least 3 'hot' indicators and **no** 'cold' indicators.\n- **Cold:** The lead has 2 or more 'cold' indicators.\n- **Mid:** Any other combination.\n</context>\n\n<examples>\n<example_1>\n<inputs>\n<need>We need to automate our entire invoicing process from Stripe to our accounting software. It's a major bottleneck.</need>\n<budget>$8000</budget>\n<timing>ASAP</timing>\n<authority>Head of Finance</authority>\n</inputs>\n<output>\n{\"score\": \"hot\"}\n</output>\n</example_1>\n<example_2>\n<inputs>\n<need>Looking to connect our CRM to our email marketing tool to improve lead nurturing.</need>\n<budget>Depends on the proposal, probably around $2k</budget>\n<timing>Next quarter</timing>\n<authority>Marketing Specialist</authority>\n</inputs>\n<output>\n{\"score\": \"mid\"}\n</output>\n</example_2>\n<example_3>\n<inputs>\n<need>Just learning how to use n8n for a personal project</need>\n<budget>no budget</budget>\n<timing>no timeline</timing>\n<authority>Student</authority>\n</inputs>\n<output>\n{\"score\": \"cold\"}\n</output>\n</example_3>\n<example_4>\n<inputs>\n<need>We need to build a complex internal dashboard for our sales team.</need>\n<budget>$10,000</budget>\n<timing>In about 6 months</timing>\n<authority>Data Analyst</authority>\n</inputs>\n<output>\n{\"score\": \"mid\"}\n</output>\n</example_4>\n</examples>\n\n<output_format>\nYour response MUST be a single, clean JSON object with one key, \"score\", and the value being one of \"hot\", \"mid\", or \"cold\".\nDo NOT include any other text, explanations, or markdown formatting.\n\nExample of valid output:\n{\"score\": \"hot\"}\n</output_format>\n</instructions>\n\n<inputs>\n<need>\n{{ $json.Goals }}\n</need>\n<budget>\n{{ $json['Project Budget'] }}\n</budget>\n<timing>\nASAP\n</timing>\n<authority>\n{{ $json.Role }}\n</authority>\n</inputs>"}]}},"credentials":{"googlePalmApi":{"id":"credential-id","name":"Google Gemini(PaLM) Api account 2"}},"typeVersion":1},{"id":"83248f3a-59a0-4ba0-900f-9f5846c42ca8","name":"Simple JSON Parsing (Lead Score)1","type":"n8n-nodes-base.set","position":[-976,1728],"parameters":{"mode":"raw","options":{},"jsonOutput":"={{ $json.content.parts[0].text.replaceAll(\"```json\", \"\").replaceAll(\"```\", \"\").trim().parseJson() }}"},"typeVersion":3.4},{"id":"dd3f39e1-826f-471b-9770-82b6588a953f","name":"Switch1","type":"n8n-nodes-base.switch","position":[-752,1712],"parameters":{"rules":{"values":[{"outputKey":"hot","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"663d3412-f0c0-4f93-8389-d68ea351b183","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.score }}","rightValue":"hot"}]},"renameOutput":true},{"outputKey":"mid","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"7945463b-c215-4c72-8d6d-47f2dfce5e55","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.score }}","rightValue":"mid"}]},"renameOutput":true},{"outputKey":"cold","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c8fab3ca-e7cb-4cdf-ac10-eda2bb715eba","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.score }}","rightValue":"cold"}]},"renameOutput":true}]},"options":{}},"typeVersion":3.2},{"id":"09aab5ac-0ef5-42e6-b500-9268c825377d","name":"On form submission","type":"n8n-nodes-base.formTrigger","position":[-2000,1728],"webhookId":"5fc2c5c6-6011-48c6-a327-c4f567424f67","parameters":{"options":{},"formTitle":"Contact Form","formFields":{"values":[{"fieldLabel":"First Name","placeholder":"John","requiredField":true},{"fieldLabel":"Last Name","placeholder":"Alex","requiredField":true},{"fieldType":"email","fieldLabel":"Email","placeholder":"you@example.com","requiredField":true},{"fieldLabel":"Phone","placeholder":"e.g. 07535286579"},{"fieldLabel":"Role","placeholder":"e.g. Founder"},{"fieldLabel":"Company","placeholder":"e.g. Gurey AI"},{"fieldType":"dropdown","fieldLabel":"Company Size","fieldOptions":{"values":[{"option":"1-10"},{"option":"11-50"},{"option":"51-100"},{"option":"101-500"},{"option":"501-1000"},{"option":"1000+"}]}},{"fieldLabel":"Website","placeholder":"https://your-website.com"},{"fieldType":"dropdown","fieldLabel":"Budget","fieldOptions":{"values":[{"option":"Under 1k"},{"option":"1k-5k"},{"option":"5k-10k"},{"option":"10k-25k"},{"option":"25k+"}]}},{"fieldType":"dropdown","fieldLabel":"Revenue","fieldOptions":{"values":[{"option":"Under 100k"},{"option":"100k-500k"},{"option":"500k-1m"},{"option":"1m-5m"},{"option":"5m+"}]}},{"fieldType":"textarea","fieldLabel":"Goals","placeholder":"Tell us what you're looking to achieve..."}]},"formDescription":"Fill in your details below"},"typeVersion":2.5},{"id":"40ff7f8f-ee79-4321-8a0f-a8b1b0917de1","name":"Send an email To the Hot Lead","type":"n8n-nodes-base.gmail","position":[-528,1408],"webhookId":"215b96b1-376a-478a-9907-3e3604d49691","parameters":{"sendTo":"={{ $('Log client data').item.json.Email }}","message":"=hey {{ $('Log client data').item.json['First Name'] }},<br><br>got your submission — and looking forward to beginning your AI transformation with you.<br><br>i'll be contacting you directly within the next few hours.<br><br>on that call, i'll audit <strong>{{ $('Log client data').item.json['Company Name '] }}</strong> — i'll identify exactly where AI can move the needle for your business, and we'll map out a clear path forward together.<br><br>one thing i want to be straight with you about:<br><br>i don't take on everyone. i'm looking for a <strong>long-term partner</strong> — someone i can lead through a <strong>complete AI transformation</strong>, not a one-off project.<br><br>based on what you submitted, i think that's worth a conversation.<br><br>talk soon,<br>Abdullahi","options":{"senderName":"Abdullahi Osman","appendAttribution":false},"subject":"=got your submission, {{ $('Log client data').item.json['First Name'] }}"},"credentials":{"gmailOAuth2":{"id":"credential-id","name":"Gurey-AI -2006@gmail.com"}},"typeVersion":2.2},{"id":"694c0a11-3516-4c32-97c5-0a452cfb8177","name":"Send an email To the Mid Lead","type":"n8n-nodes-base.gmail","position":[-528,1728],"webhookId":"215b96b1-376a-478a-9907-3e3604d49691","parameters":{"sendTo":"={{ $('Log client data').item.json.Email }}","message":"=hey {{ $('Log client data').item.json['First Name'] }},<br><br>got your submission — i've reviewed it and i'll be honest, what you're building at <strong>{{ $('Log client data').item.json['Company Name '] }}</strong> caught my attention.<br><br>here's what happens next:<br><br>i'll reach out within <strong>24–48 hours</strong> to lock in a time that works for both of us.<br><br>on that call, i'll do a <strong>full audit of your business</strong> — identify exactly where the bottlenecks are, and map out what AI can realistically solve for you. no pitch decks, no fluff — just a clear diagnosis and a direction forward. and it's at <strong>no cost to you</strong>.<br><br>one thing i want to be upfront about:<br><br>i'm not here for a one-off project. i'm looking for a <strong>long-term partnership</strong> — the kind where i'm in the trenches with you through your <strong>complete AI transformation</strong>, not just dropping off a deliverable and disappearing.<br><br>if that's the kind of operator you want in your corner, we're going to get along just fine.<br><br>talk soon,<br><br><strong>Abdullahi</strong>","options":{"senderName":"Abdullahi Osman","appendAttribution":false},"subject":"=got your submission, {{ $('Log client data').item.json['First Name'] }}"},"credentials":{"gmailOAuth2":{"id":"credential-id","name":"Gurey-AI -2006@gmail.com"}},"typeVersion":2.2},{"id":"b8165094-4dc0-4ac8-97f3-bb8e2b2907b1","name":"Send an email To the Cold Lead","type":"n8n-nodes-base.gmail","position":[-528,1984],"webhookId":"215b96b1-376a-478a-9907-3e3604d49691","parameters":{"sendTo":"={{ $('Log client data').item.json.Email }}","message":"=hey {{ $('Log client data').item.json['First Name'] }},<br><br>got your submission — i looked at where you're at, and i think a call right now isn't the right move for you.<br><br>but that doesn't mean i'm going to leave you empty handed.<br><br>here's what i'd actually start with:<br><br>• <strong>free templates</strong> — real, ready-to-use n8n workflows you can steal and deploy: <a href=\"https://gurey-ai.vercel.app/n8n-resources\">https://gurey-ai.vercel.app/n8n-resources</a><br><br>• <strong>AI community</strong> — everything in one place: <a href=\"https://www.skool.com/learn-ai/about\">https://www.skool.com/learn-ai/about</a><br><br>and if you want to go deeper — live build calls, a community of people actually building — there's a community when you're ready: <a href=\"https://www.skool.com/ai-automation-society\">https://www.skool.com/ai-automation-society</a><br><br>no pressure on that last one. start with the templates.<br><br>when the timing is right and you're ready to move — i'll be here.<br><br>talk soon,<br>Abdullahi","options":{"senderName":"Abdullahi Osman","appendAttribution":false},"subject":"=got your submission, {{ $('Log client data').item.json['First Name'] }}"},"credentials":{"gmailOAuth2":{"id":"credential-id","name":"Gurey-AI -2006@gmail.com"}},"typeVersion":2.2},{"id":"0baff90d-daae-43c3-b56c-e1cfcc6f9dd5","name":"Send a notification to the team","type":"n8n-nodes-base.telegram","position":[-304,1408],"webhookId":"00d39ad2-d1e8-406b-a36e-6eb4a82ad1e2","parameters":{"text":"=There is a client who submitted the form. Go check it out:\n\nThe Google sheet: \"https://docs.google.com/spreadsheets/d/1udMi5zL1XD79QAXZO4NwlpFOjOY2CU0uqAJ4jWrwv5s/edit?gid=0#gid=0\"\nThe workflow link: \"https://gureytube.app.n8n.cloud/workflow/2K20UuuDVTUt5lJN\"\n```markdown\nThis is his name: {{ $('Log client data').item.json['First Name'] }} {{ $('Log client data').item.json['Last Name'] }}, and his a {{ $('Log client data').item.json.Role }} at {{ $('Log client data').item.json['Company Name '] }}, and this the annual revenue {{ $('Log client data').item.json['Annual Revenue'] }}, and this is his budget {{ $('Log client data').item.json['Project Budget'] }}, this is his goal {{ $('Log client data').item.json.Goals }}\n\nSend him an email here: {{ $('Log client data').item.json.Email }}\n\nSummary:\n{{ $('Log client data').item.json.Summarization }}\n```","chatId":"123456789","additionalFields":{"appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Important message bot"}},"typeVersion":1.2},{"id":"5e1b7f16-9726-495f-bb9a-a8fa1509389a","name":"Send a notification to the Team","type":"n8n-nodes-base.telegram","position":[-304,1728],"webhookId":"00d39ad2-d1e8-406b-a36e-6eb4a82ad1e2","parameters":{"text":"=There is a client who submitted the form. Go check it out:\n\nThe Google sheet: \"https://docs.google.com/spreadsheets/d/1udMi5zL1XD79QAXZO4NwlpFOjOY2CU0uqAJ4jWrwv5s/edit?gid=0#gid=0\"\nThe workflow link: \"https://gureytube.app.n8n.cloud/workflow/2K20UuuDVTUt5lJN\"\n```markdown\nThis is his name: {{ $('Log client data').item.json['First Name'] }} {{ $('Log client data').item.json['Last Name'] }}, and his a {{ $('Log client data').item.json.Role }} at {{ $('Log client data').item.json['Company Name '] }}, and this the annual revenue {{ $('Log client data').item.json['Annual Revenue'] }}, and this is his budget {{ $('Log client data').item.json['Project Budget'] }}, this is his goal {{ $('Log client data').item.json.Goals }}\n\nSend him an email here: {{ $('Log client data').item.json.Email }}\n\nSummary:\n{{ $('Log client data').item.json.Summarization }}\n```","chatId":"123456789","additionalFields":{"appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Important message bot"}},"typeVersion":1.2},{"id":"e3d95691-152f-4aa5-933a-6c47ae0390c4","name":"send a notification to the team","type":"n8n-nodes-base.telegram","position":[-304,1984],"webhookId":"00d39ad2-d1e8-406b-a36e-6eb4a82ad1e2","parameters":{"text":"=There is a client who submitted the form. Go check it out:\n\nThe Google sheet: \"https://docs.google.com/spreadsheets/d/1udMi5zL1XD79QAXZO4NwlpFOjOY2CU0uqAJ4jWrwv5s/edit?gid=0#gid=0\"\nThe workflow link: \"https://gureytube.app.n8n.cloud/workflow/2K20UuuDVTUt5lJN\"\n```markdown\nThis is his name: {{ $('Log client data').item.json['First Name'] }} {{ $('Log client data').item.json['Last Name'] }}, and his a {{ $('Log client data').item.json.Role }} at {{ $('Log client data').item.json['Company Name '] }}, and this the annual revenue {{ $('Log client data').item.json['Annual Revenue'] }}, and this is his budget {{ $('Log client data').item.json['Project Budget'] }}, this is his goal {{ $('Log client data').item.json.Goals }}\n\nSend him an email here: {{ $('Log client data').item.json.Email }}\n\nSummary:\n{{ $('Log client data').item.json.Summarization }}\n```","chatId":"123456789","additionalFields":{"appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Important message bot"}},"typeVersion":1.2}],"pinData":{"On form submission":[{"Role":"Founder","Email":"abdullahiosman2008@gmail.com","Goals":"looking forward to beginning with you the AI transformation - i need speed to lead systems","Phone":"6453456453423","Budget":"25k+","Company":"bojarinhu","Revenue":"1M+","Website":"no web","formMode":"test","Last Name":"Ahmed","First Name":"Jhon","submittedAt":"2026-04-25T07:00:13.603+02:00","Company Size":"1000+"}]},"connections":{"Switch1":{"main":[[{"node":"Send an email To the Hot Lead","type":"main","index":0}],[{"node":"Send an email To the Mid Lead","type":"main","index":0}],[{"node":"Send an email To the Cold Lead","type":"main","index":0}]]},"Set feilds":{"main":[[{"node":"Log client data","type":"main","index":0}]]},"Score Lead1":{"main":[[{"node":"Simple JSON Parsing (Lead Score)1","type":"main","index":0}]]},"Log client data":{"main":[[{"node":"Score Lead1","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Set feilds","type":"main","index":0}]]},"Send an email To the Hot Lead":{"main":[[{"node":"Send a notification to the team","type":"main","index":0}]]},"Send an email To the Mid Lead":{"main":[[{"node":"Send a notification to the Team","type":"main","index":0}]]},"Send an email To the Cold Lead":{"main":[[{"node":"send a notification to the team","type":"main","index":0}]]},"Simple JSON Parsing (Lead Score)1":{"main":[[{"node":"Switch1","type":"main","index":0}]]}}}