workflows/Generate and upload AI videos with Ozor AI and Upload Post-15481/15481-generate-and-upload-ai-videos-with-ozor-ai-and-upload-post.webp
{"id":"HzM2IFBjCSNpzqyj","meta":{"instanceId":"56b91440fc9cc6cd547e3d06f671fedfad8d7f4c0043df012685d15aed337977","templateCredsSetupCompleted":true},"name":"Create Video with Ozor AI","tags":[],"nodes":[{"id":"f60d56f6-1a8f-46b3-a826-aedb55b6bcd5","name":"Generate a video","type":"n8n-nodes-ozor.ozor","position":[-96,224],"parameters":{"prompt":"Create a short promotional video about our new product launch. Highlight key features and benefits with engaging visuals.","waitForAgent":true},"credentials":{"ozorApi":{"id":"6BY1LGOZflLVGn4o","name":"Ozor account"}},"typeVersion":1},{"id":"704056dd-16d9-401c-bbfd-3f4b5ff013b9","name":"Get video details","type":"n8n-nodes-ozor.ozor","position":[176,224],"parameters":{"videoId":"={{ $json.videoId }}","operation":"get"},"credentials":{"ozorApi":{"id":"6BY1LGOZflLVGn4o","name":"Ozor account"}},"typeVersion":1},{"id":"38e2c774-226d-4dc8-b9c1-57c4595eb81a","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[-368,224],"parameters":{},"typeVersion":1},{"id":"34d38b9b-9f03-4bc3-b909-551aff0c2ba9","name":"Upload a video","type":"n8n-nodes-upload-post.uploadPost","position":[656,224],"parameters":{"user":"instagram","title":"={{ $('Get video details').item.json.title }}","video":"={{ $json.downloadUrl }}","platform":["instagram"],"operation":"uploadVideo","instagramMediaType":"REELS"},"credentials":{"uploadPostApi":{"id":"KXXQ0CAD5bJe9Afp","name":"Upload Post account"}},"typeVersion":1},{"id":"3ee7ae2e-1206-41a3-95ff-74373ec492f5","name":"Export a video","type":"n8n-nodes-ozor.ozor","position":[416,224],"parameters":{"videoId":"={{ $json.videoId }}","operation":"export","maxPollTimeSingle":600,"waitForExportSingle":true},"credentials":{"ozorApi":{"id":"6BY1LGOZflLVGn4o","name":"Ozor account"}},"typeVersion":1},{"id":"267928c3-4f0b-4ebf-8173-9bd9a9fae4d9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-144,-240],"parameters":{"width":208,"height":368,"content":"## Step 1: Generate a Video\n\nThis node initiates a new video generation request with Ozor AI. It sends the prompt and configuration parameters (such as text, style, duration, and resolution) to the API. The response returns a **video ID** which is used to track the rendering progress in subsequent steps."},"typeVersion":1},{"id":"65412ffe-4681-4525-bab7-c09a7a4b9f78","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[80,-240],"parameters":{"height":368,"content":"## Step 2: Get Video Details\n\nThis node polls the Ozor AI API using the **video ID** from the previous step to retrieve the current status and metadata of the video. It checks whether the rendering job is still processing, has completed, or has failed. Once ready, it returns metadata such as duration, resolution, and a temporary preview link."},"typeVersion":1},{"id":"12b9985e-98c2-47bf-8fa1-c31a81e3d2d8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[336,-240],"parameters":{"height":368,"content":"## Step 3: Export a Video\n\nOnce the video is fully rendered, this node sends an export request to the Ozor AI API to generate the final downloadable video file. It specifies the desired export format (e.g., MP4) and quality settings, and returns a **public download URL** that can be used to retrieve the finished video asset."},"typeVersion":1},{"id":"8d2be24a-57ce-4eab-976e-c8aaca9bffb2","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[592,-240],"parameters":{"height":368,"content":"## Step 4: Upload a Video\n\nThe final step takes the exported video URL and uploads the file to the destination platform or storage location. This may include cloud storage, a CMS, or a social media platform. After a successful upload, it returns the **uploaded video reference** (such as a URL, asset ID, or post ID) confirming the workflow has completed end-to-end."},"typeVersion":1},{"id":"1d5ab3c1-6162-4f2b-bdc7-564886ee30fa","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-416,-240],"parameters":{"height":368,"content":"## Prerequisites\n\nTo use this workflow you need an **Ozor** account.\n\n**Setup:**\n1. Go to [ozor.ai](https://ozor.ai)\n2. Open **Settings → API Key**\n3. Click **Generate** to create a new API key\n4. Copy the key and add it to the Ozor AI credentials in n8n\n\nThis API key is required to authenticate with the Ozor AI Video Generation API."},"typeVersion":1}],"active":false,"pinData":{},"settings":{"binaryMode":"separate","executionOrder":"v1"},"versionId":"1f868eea-0c59-4b0f-b041-026f2099b944","connections":{"Export a video":{"main":[[{"node":"Upload a video","type":"main","index":0}]]},"Generate a video":{"main":[[{"node":"Get video details","type":"main","index":0}]]},"Get video details":{"main":[[{"node":"Export a video","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Generate a video","type":"main","index":0}]]}}}