workflows/Monitor negative news for watchlist companies with Google Sheets, SerpAPI, Groq, and Gmail-15851/monitor_negative_news_for_watchlist_companies_with_google_sheets_serpapi_groq_and_gmail.json
{"id":"jNXqiHPlj77UxgZn","meta":{"instanceId":"9f24379abd1ca05a3f590fdaa874ca82fbc5e1188798d609d51d2a8f6bacb662","templateCredsSetupCompleted":true},"name":"Watchlist → Negative News Tracker","tags":[],"nodes":[{"id":"4b7d0a6e-8684-492f-b2dc-28b55ac4df35","name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","position":[64,-224],"parameters":{"model":"openai/gpt-oss-120b","options":{}},"credentials":{"groqApi":{"id":"yW0n4l0FjwBVJcJ8","name":"PT - Gaurav Patil Groq account"}},"typeVersion":1},{"id":"b34373a5-d7c8-4cd7-9a8e-dfc0f739a9cf","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[208,-224],"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n        \"company\": {\n          \"type\": \"string\"\n        },\n\t\t\"is_negative\": {\n\t\t\t\"type\": \"boolean\"\n\t\t},\n        \"reason\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n        \"severity\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"},"typeVersion":1.3},{"id":"b1634987-2a7e-41d7-9a42-f96385544fea","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-2720,-1200],"parameters":{"width":992,"height":688,"content":"## Workflow Overview: Watchlist Negative News Tracker\n\nThis workflow automates the monitoring of negative news for selected companies using search-based news retrieval. It fetches the latest articles, removes irrelevant entries and filters out previously processed items using unique IDs. Only new articles are analyzed using AI to detect negative sentiment and risk signals. The workflow then stores relevant data and sends alerts, enabling continuous monitoring, reduced manual effort and faster, insight-driven decision-making.\n\n## How it works\n\nThe workflow fetches company names from Google Sheets. It then uses SerpAPI to get the latest news articles.\nThe articles are cleaned in a Code node by removing irrelevant entries and generating unique IDs. These are checked against Google Sheets to remove duplicates and only new articles are stored.\nNext, an AI node analyzes each article to detect if the news is negative and assigns a reason and severity. Finally, only negative or high-risk news is filtered for further action (like alerts).\n\n## Setup steps\n\n**Read Watchlist**: Store and retrieve company names to monitor.\n**Fetch News**: Use dynamic query like {{ $('Read Watchlist').item.json.Companies }} news to fetch articles.\n**Results Aggregation**: Configured to \"Aggregate All Item Data\" to combine the search results of every company into a single array before cleaning starts.\n**Filter Article List**: It extracts and maps news_results into an articles array by selecting only required fields.\n**Process Articles**: Clean data, remove irrelevant entries and generate unique IDs for deduplication.\n**Lookup Existing Articles**: Connect your sheet and use id for deduplication.\n**Filter New Articles**: Allow only unseen articles to pass.\n**Analyze News**: Configure model and enforce strict JSON output for company extraction and sentiment detection.\n**Format & Enrich News Data**: The AI response is then structured and enriched using a Set node, combining model output with article data into a clean, standardized format.\n**Filter Negative News** : Filter based on is_negative and optionally severity level.\n**Append Processed News** : Store new articles with fields like Title, ID, Link, Date.\n**Send Alert**: Format message (prefer HTML for email) and configure recipient details "},"typeVersion":1},{"id":"3e342359-f004-4550-b63f-119472d23781","name":"Read Watchlist","type":"n8n-nodes-base.googleSheets","position":[-2432,0],"parameters":{"options":{},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14Bz6e308Zxauw4idygRzgFQHPjHk0cGssaSWjMWu7Jk/edit#gid=0","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"id","value":"14Bz6e308Zxauw4idygRzgFQHPjHk0cGssaSWjMWu7Jk"}},"credentials":{"googleSheetsOAuth2Api":{"id":"8gd82qRByscApl2c","name":"PT - Gaurav Patil Sheets Account"}},"typeVersion":4.7},{"id":"6397362a-526e-4391-8ad3-d3b59dca88be","name":"Fetch News","type":"n8n-nodes-base.httpRequest","position":[-1824,48],"parameters":{"url":"https://serpapi.com/search?engine=google_news","options":{},"sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Read Watchlist').item.json.Companies }}"},{"name":"api_key"},{"name":"tbm","value":"nws"}]}},"typeVersion":4.3},{"id":"d70e5359-099b-413f-a9ba-92bb19cf0310","name":"Process Articles","type":"n8n-nodes-base.code","position":[-1376,-144],"parameters":{"jsCode":"const input = $input.first().json;\n\n// Safety check\nif (!input.articles || !Array.isArray(input.articles)) {\n  return [];\n}\n\n// Simple hash function\nfunction createId(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) - hash) + str.charCodeAt(i);\n    hash |= 0;\n  }\n  return hash.toString();\n}\n\nreturn input.articles\n  .filter(article => {\n    const title = article.title?.toLowerCase() || \"\";\n\n    // remove junk\n    if (!title) return false;\n    if (title.includes(\"news about\")) return false;\n\n    return true;\n  })\n  .map(article => {\n    // Clean for stable ID\n    const cleanTitle = (article.title || \"\").trim().toLowerCase();\n    const cleanLink = (article.link || \"\").split(\"?\")[0];\n\n    const uniqueString = cleanTitle + cleanLink;\n\n    return {\n      json: {\n        ...article,\n        id: createId(uniqueString),\n        company: input.company\n      }\n    };\n  });"},"typeVersion":2},{"id":"ecf49212-a936-4e0f-b8ce-aef4703a893e","name":"Filter New Articles","type":"n8n-nodes-base.if","position":[-544,-448],"parameters":{"options":{},"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0de1a343-c7be-4329-b8fa-66a5dc2fff98","operator":{"type":"number","operation":"notExists","singleValue":true},"leftValue":"={{ $json.ID }}","rightValue":"="}]}},"typeVersion":2.3},{"id":"c5e5291a-c4e5-4fa0-b7f8-484eeb56182e","name":"Analyze News","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[64,-448],"parameters":{"text":"=You are a financial news analyst.\nAnalyze this news article:\nTitle: {{ $('Loop Over Articles').item.json.title }}\nTask:\n- Determine if the news is NEGATIVE\n- Negative includes: layoffs, lawsuits, fraud, losses, decline, bans, investigations, risks\n\nReturn STRICT JSON:\n{\n  \"company\": \"company_name\",\n  \"is_negative\": true/false,\n  \"reason\": \"short reason\",\n  \"severity\": \"low | medium | high\"\n}","batching":{},"promptType":"define","hasOutputParser":true},"typeVersion":1.8},{"id":"19b0705c-0227-4fc8-a867-a9124473ec92","name":"Filter Negative News","type":"n8n-nodes-base.if","position":[624,-448],"parameters":{"options":{},"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"822dcef8-f012-4c62-a334-b44f5e0da703","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.output.is_negative }}","rightValue":false}]}},"typeVersion":2.3},{"id":"8110033b-75a9-4cc4-938c-ede729fdeaa9","name":"Loop Over Articles","type":"n8n-nodes-base.splitInBatches","position":[-976,-144],"parameters":{"options":{}},"typeVersion":3},{"id":"309b3768-c547-4eed-b78a-a7b88222bbf6","name":"Loop Over Watchlist","type":"n8n-nodes-base.splitInBatches","position":[-2048,0],"parameters":{"options":{}},"typeVersion":3},{"id":"f6fc806a-a9a1-4a9d-8704-5141e129c666","name":"Lookup Existing Articles","type":"n8n-nodes-base.googleSheets","position":[-752,-448],"parameters":{"options":{},"filtersUI":{"values":[{"lookupValue":"={{ $json.id }}","lookupColumn":"ID"}]},"sheetName":{"__rl":true,"mode":"list","value":2137384484,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RJg2dFLCXxB0C14z4kqNwKi7fIKN_GKQam3fHs_LmT8/edit#gid=2137384484","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1RJg2dFLCXxB0C14z4kqNwKi7fIKN_GKQam3fHs_LmT8","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RJg2dFLCXxB0C14z4kqNwKi7fIKN_GKQam3fHs_LmT8/edit?usp=drivesdk","cachedResultName":"Negative News Tracker - Processed News"}},"credentials":{"googleSheetsOAuth2Api":{"id":"8gd82qRByscApl2c","name":"PT - Gaurav Patil Sheets Account"}},"typeVersion":4.7,"alwaysOutputData":true},{"id":"c34582b9-0ecb-4e86-ae41-9c602f57068f","name":"Append Processed News","type":"n8n-nodes-base.googleSheets","position":[880,-464],"parameters":{"columns":{"value":{"ID":"={{ $json.id }}","Date":"={{ $json.date }}","Link":"={{ $json.link }}","Title":"={{ $json.title }}","Reason":"={{ $json.output.reason }}","Company":"={{ $json.output.company }}","Severity":"={{ $json.output.severity }}"},"schema":[{"id":"ID","type":"string","display":true,"removed":false,"required":false,"displayName":"ID","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Company","type":"string","display":true,"removed":false,"required":false,"displayName":"Company","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Title","type":"string","display":true,"removed":false,"required":false,"displayName":"Title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Date","type":"string","display":true,"removed":false,"required":false,"displayName":"Date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Reason","type":"string","display":true,"required":false,"displayName":"Reason","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Severity","type":"string","display":true,"removed":false,"required":false,"displayName":"Severity","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Link","type":"string","display":true,"removed":false,"required":false,"displayName":"Link","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["ID"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{},"operation":"append","sheetName":{"__rl":true,"mode":"list","value":2137384484,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RJg2dFLCXxB0C14z4kqNwKi7fIKN_GKQam3fHs_LmT8/edit#gid=2137384484","cachedResultName":"Sheet1"},"documentId":{"__rl":true,"mode":"list","value":"1RJg2dFLCXxB0C14z4kqNwKi7fIKN_GKQam3fHs_LmT8","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RJg2dFLCXxB0C14z4kqNwKi7fIKN_GKQam3fHs_LmT8/edit?usp=drivesdk","cachedResultName":"Negative News Tracker - Processed News"}},"credentials":{"googleSheetsOAuth2Api":{"id":"8gd82qRByscApl2c","name":"PT - Gaurav Patil Sheets Account"}},"typeVersion":4.7},{"id":"6672d2ce-325a-4ea5-a2cf-834e4ce29c68","name":"Filter Article List","type":"n8n-nodes-base.code","position":[-1600,-144],"parameters":{"jsCode":"// 1. Get the current loop item from the input array\nconst inputData = $input.item.json;\n\n// 2. Identify the nested search results (handling the empty key \"\")\nconst searchBatches = inputData[\"\"] || [];\n\n// 3. Extract and map articles from all news_results batches\nlet aggregatedArticles = [];\n\nsearchBatches.forEach(batch => {\n  if (batch.news_results) {\n    const mapped = batch.news_results.map(n => ({\n      title: n.title || \"No Title\",\n      source: n.source?.name || \"Unknown Source\",\n      link: n.link || \"\",\n      date: n.date || \"Recent\"\n    }));\n    aggregatedArticles = aggregatedArticles.concat(mapped);\n  }\n});\n\n// 5. Return the structured object for the Aggregate node\nreturn [\n  {\n    json: {\n      articles: aggregatedArticles,\n    }\n  }\n];"},"typeVersion":2},{"id":"d16ea06a-edac-4e1e-9478-91c36a899463","name":"Send Alert","type":"n8n-nodes-base.gmail","position":[1088,-368],"webhookId":"0c835367-3688-4198-b770-9195cc603fd9","parameters":{"message":"=<b>Negative News Alert</b><br><br>\n\n<b>Company:</b> {{ $json.Company }}<br><br>\n\n<b>Title:</b> {{ $('Loop Over Articles').item.json.title }}<br><br>\n\n<b>Reason:</b> {{ $json.Reason }}<br><br>\n\n<b>Severity:</b> {{ $json.Severity }}<br><br>\n\n<b>Link:</b> <a href=\"{{ $('Loop Over Articles').item.json.link }}\">Read Article</a>","options":{},"subject":"={{ $json.Company }} Negative News"},"credentials":{"gmailOAuth2":{"id":"jaie1zZNjcBJNmSy","name":"PT - Gaurav Patil Gmail Account"}},"typeVersion":2.2},{"id":"fe02082e-bf58-469d-8617-0747b00596a0","name":"Results Aggregation","type":"n8n-nodes-base.aggregate","position":[-1824,-144],"parameters":{"include":"specifiedFields","options":{},"aggregate":"aggregateAllItemData","fieldsToInclude":"news_results","destinationFieldName":""},"typeVersion":1},{"id":"2e91afd5-0658-478c-8dc9-703e29a85d31","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-2720,-96],"parameters":{"color":7,"width":432,"height":256,"content":"## Data Source & Trigger\nFetch company watchlist from Google Sheets when workflow is triggered."},"typeVersion":1},{"id":"839d3be2-12c8-4861-a971-bce8bdd3bc03","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-2128,-272],"parameters":{"color":7,"width":880,"height":528,"content":"## News Fetching & Processing\nRetrieve latest news via SerpAPI and aggregate results into a single dataset. Clean irrelevant entries, standardize fields and generate unique IDs. Cross-check with stored records to remove duplicates, allowing only new articles forward."},"typeVersion":1},{"id":"db0b2aa2-32a4-45d8-ad8c-ee03737014a1","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-16,-560],"parameters":{"color":7,"width":1264,"height":480,"content":"## AI Analysis & Alerting\nAnalyze each article using AI to detect negative sentiment, assign reason and severity. The AI response is then structured and enriched using a Set node, combining model output with article data into a clean, standardized format. Filter high-risk news, store results in Google Sheets and send formatted alerts for timely action and monitoring."},"typeVersion":1},{"id":"ad5a4912-1b89-4de1-bbf8-63a4404bc5c6","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1040,-560],"parameters":{"color":7,"width":864,"height":560,"content":"## Deduplication & Flow Control\nLoop through processed articles and check against existing records in Google Sheets using unique IDs. Filter out duplicates, allowing only new articles to proceed, while controlling workflow timing and execution using conditional paths and wait logic."},"typeVersion":1},{"id":"65506448-d4df-47c3-b3c1-c31b994949cc","name":"Format & Enrich News Data","type":"n8n-nodes-base.set","position":[416,-448],"parameters":{"options":{},"assignments":{"assignments":[{"id":"af7db9b9-6e17-4f4c-baea-ff5c0aa48523","name":"title","type":"string","value":"={{ $('Loop Over Articles').item.json.title }}"},{"id":"fa94f272-a596-4bbf-ba76-f88cea78b8d7","name":"link","type":"string","value":"={{ $('Loop Over Articles').item.json.link }}"},{"id":"9cddc00a-8fc8-4428-92c0-3313d1650d8e","name":"date","type":"string","value":"={{ $('Loop Over Articles').item.json.date }}"},{"id":"56cab1c5-9c4b-4a44-b78b-cda1286931aa","name":"id","type":"string","value":"={{ $('Loop Over Articles').item.json.id }}"},{"id":"1462719b-ac23-4da1-afae-22119ad1c115","name":"output.company","type":"string","value":"={{ $json.output.company }}"},{"id":"b83b0014-afb2-4fba-9e54-3fd3bb87ed59","name":"output.is_negative","type":"boolean","value":"={{ $json.output.is_negative }}"},{"id":"a2b6aa63-56b0-4a2c-b794-d04a9d4038df","name":"output.reason","type":"string","value":"={{ $json.output.reason }}"},{"id":"a2191791-459c-42b9-b003-36c5e410f017","name":"output.severity","type":"string","value":"={{ $json.output.severity }}"}]}},"typeVersion":3.4},{"id":"4568cdd7-c6bc-4bf2-83a4-a7f6be3f7777","name":"Throttle API Calls","type":"n8n-nodes-base.wait","position":[-304,-448],"webhookId":"8ef867fc-b026-4145-85a2-a5bdbddd7298","parameters":{"amount":2},"typeVersion":1.1},{"id":"980f3f63-a1a9-44f3-b68f-b37de4da011e","name":"Start Workflow","type":"n8n-nodes-base.manualTrigger","position":[-2672,0],"parameters":{},"typeVersion":1}],"active":false,"pinData":{},"settings":{"availableInMCP":false,"executionOrder":"v1"},"versionId":"7fcf66d1-70c0-4a53-bfca-e5fdce585ac9","connections":{"Fetch News":{"main":[[{"node":"Loop Over Watchlist","type":"main","index":0}]]},"Send Alert":{"main":[[{"node":"Loop Over Articles","type":"main","index":0}]]},"Analyze News":{"main":[[{"node":"Format & Enrich News Data","type":"main","index":0}]]},"Read Watchlist":{"main":[[{"node":"Loop Over Watchlist","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"Read Watchlist","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Analyze News","type":"ai_languageModel","index":0}]]},"Process Articles":{"main":[[{"node":"Loop Over Articles","type":"main","index":0}]]},"Loop Over Articles":{"main":[[],[{"node":"Lookup Existing Articles","type":"main","index":0}]]},"Throttle API Calls":{"main":[[{"node":"Analyze News","type":"main","index":0}]]},"Filter Article List":{"main":[[{"node":"Process Articles","type":"main","index":0}]]},"Filter New Articles":{"main":[[{"node":"Throttle API Calls","type":"main","index":0}],[{"node":"Loop Over Articles","type":"main","index":0}]]},"Loop Over Watchlist":{"main":[[{"node":"Results Aggregation","type":"main","index":0}],[{"node":"Fetch News","type":"main","index":0}]]},"Results Aggregation":{"main":[[{"node":"Filter Article List","type":"main","index":0}]]},"Filter Negative News":{"main":[[{"node":"Append Processed News","type":"main","index":0}],[{"node":"Loop Over Articles","type":"main","index":0}]]},"Append Processed News":{"main":[[{"node":"Send Alert","type":"main","index":0}]]},"Lookup Existing Articles":{"main":[[{"node":"Filter New Articles","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Analyze News","type":"ai_outputParser","index":0}]]},"Format & Enrich News Data":{"main":[[{"node":"Filter Negative News","type":"main","index":0}]]}}}