workflows/Generate weekly Instagram Reels ideas from Google News with OpenAI and Notion-15808/generate_weekly_instagram_reels_ideas_from_google_news_with_openai_and_notion.json
{"id":"hjEErZoYWbNy8YLW","meta":{"instanceId":"277842713620d9f5554de3b1518b865a152c8c4db680008bd8aec536fc18b4a8","templateCredsSetupCompleted":true},"name":"AI Weekly Skincare Trend-to-Content Generator for Instagram Reels","tags":[],"nodes":[{"id":"9d9976e1-8e2a-4447-9ba8-7f289d596103","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1232,192],"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"gpt-4o-mini"},"options":{},"builtInTools":{}},"credentials":{"openAiApi":{"id":"Z0PR4rmJpcAyuftC","name":"OpenAi - HSR"}},"typeVersion":1.3},{"id":"302445bb-ee56-491e-b1a6-1c1dbdcfc71e","name":"Top 7 Trends","type":"n8n-nodes-base.limit","position":[656,0],"parameters":{"maxItems":7},"typeVersion":1},{"id":"aeaac28d-1291-4c8a-82ae-af1e7c914cbf","name":"Get Trends","type":"n8n-nodes-base.rssFeedRead","position":[336,0],"parameters":{"url":"https://news.google.com/rss/search?q=skincare%20trends%20OR%20skincare%20routine%20OR%20skincare%20tips%20when%3A7d&hl=en-IN&gl=IN&ceid=IN:en","options":{}},"typeVersion":1.2},{"id":"97b05a98-586d-4e99-8997-3e02abade7bd","name":"Combine Trends","type":"n8n-nodes-base.aggregate","position":[944,0],"parameters":{"options":{},"aggregate":"aggregateAllItemData","destinationFieldName":"trends"},"typeVersion":1},{"id":"e477ae3d-087a-4bcd-a1f7-6ebbbb92f3ca","name":"Generate 7 Instagram Reel Ideas","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1232,0],"parameters":{"text":"=You are a senior social media strategist for D2C skincare brands.\n\nBrand Details:\nBrand Name: GlowCare\nBrand Category: Skincare D2C Brand\nTarget Audience: Women aged 18-35 interested in skincare, beauty, glow routines, and self-care\nBrand Tone: Friendly, premium, simple, educational\nMain Product: Vitamin C Face Serum\n\nRSS Trend Articles:\n{{ JSON.stringify($json.trends) }}\n\nTask:\nGenerate exactly 7 Instagram Reel content ideas for this D2C skincare brand.\n\nFor each idea, include:\n- Posting Day\n- Content Idea\n- Reel Hook\n- Suggested Caption\n- Suggested Hashtags\n- Reel Format\n- Why This Works\n\nRules:\n- Use the RSS articles as trend inspiration.\n- Ignore irrelevant or spammy articles.\n- Do not copy article titles directly.\n- Make ideas useful for a founder asking: “What should we post next?”\n- Captions should be ready to use.\n- Keep the language simple.\n- Output clean markdown only.\n- Do not output JSON.\n\nFormat:\n\n## Idea 1\nPosting Day:\nContent Idea:\nHook:\nCaption:\nHashtags:\nFormat:\nWhy This Works:\n\n## Idea 2\nPosting Day:\nContent Idea:\nHook:\nCaption:\nHashtags:\nFormat:\nWhy This Works:\n\nContinue until Idea 7.","batching":{},"promptType":"define"},"typeVersion":1.9},{"id":"c8831cc4-bd81-4326-a82b-643aaa2cdded","name":"Weekly Content Schedule","type":"n8n-nodes-base.scheduleTrigger","position":[0,0],"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":8}]}},"typeVersion":1.3},{"id":"48fa99c4-e5e4-4afa-89e1-f335c1d36ed1","name":"Save idea's to Content Calendar","type":"n8n-nodes-base.notion","position":[1696,0],"parameters":{"title":"={{ \"Weekly Skincare Content Ideas - \" + $now.toFormat(\"dd LLL yyyy\") }}","blockUi":{"blockValues":[{"textContent":"={{ $json.text.slice(0, 1900) }}"},{"textContent":"={{ $json.text.slice(1900, 3800) }}"}]},"options":{},"resource":"databasePage","databaseId":{"__rl":true,"mode":"list","value":"36464582-ce45-8062-89f2-e56690f6a8a1","cachedResultUrl":"https://www.notion.so/36464582ce45806289f2e56690f6a8a1","cachedResultName":"D2C Content Calendar"},"propertiesUi":{"propertyValues":[{"key":"Date|date","date":"={{ $now.toISODate() }}"}]}},"credentials":{"notionApi":{"id":"f4tDCNDOCiIXY1J2","name":"Notion_account-Jainam"}},"typeVersion":2.2},{"id":"c6cdd2cc-945a-4f31-9d25-d0a2d8b7d823","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-112,-304],"parameters":{"color":"#D8B0B0","width":320,"height":448,"content":"# Step 1: Weekly Content Schedule\n\nThis node automatically starts the workflow every week.\n\n## How It Works\n\nThe Schedule Trigger runs the workflow based on the configured schedule.\n\nIn this workflow, it is set to run weekly on Monday at 8 AM.\n\n"},"typeVersion":1},{"id":"191311bd-897d-4c69-ae73-cae05aed71b8","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[224,-368],"parameters":{"color":"#D8B0D0","width":336,"height":512,"content":"# Step 2: Get Trends\n\nThis node collects recent skincare trend articles from Google News RSS.\n\n## How It Works\n\nThe RSS Feed Read node reads a Google News RSS URL.\n\nThe RSS URL searches for skincare-related topics such as:\n\n- Skincare trends\n- Skincare routine\n- Skincare tips\n\nIt also focuses on articles from the last 7 days."},"typeVersion":1},{"id":"c226e6a2-c02c-43a2-991c-2a93964476c6","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[576,-336],"parameters":{"color":"#C2B0D8","width":256,"height":480,"content":"# Step 3: Top 7 Trends\n\nThis node keeps only the first 7 trend articles from the RSS results.\n\n## How It Works\n\nThe RSS node can return many articles.\n\nThe Limit node reduces the number of items and allows only 7 articles to continue in the workflow."},"typeVersion":1},{"id":"8160eb93-1051-4980-879e-ebf18938f92a","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[848,-320],"parameters":{"color":"#B0C5D8","width":320,"height":464,"content":"# Step 4: Combine Trends\n\nThis node combines all selected trend articles into one single field.\n\n## How It Works\n\nNormally, n8n handles each RSS article as a separate item.\n\nThe Aggregate node collects all 7 article items and stores them together inside a field called `trends`.\n"},"typeVersion":1},{"id":"b5433378-3d13-4b58-8a1f-2134c5b5f0ac","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1184,-480],"parameters":{"color":"#BCD8B0","width":352,"height":624,"content":"# Step 5: Generate 7 Instagram Reel Ideas\n\nThis node uses AI to turn the combined skincare trend data into 7 ready-to-use Instagram Reel ideas.\n\nIt sends the trend articles to the OpenAI Chat Model with a prompt that asks the AI to act as a D2C skincare content strategist for GlowCare.\n\nFor each Reel idea, the AI generates:\n\n- Posting Day\n- Content Idea\n- Hook\n- Caption\n- Hashtags\n- Reel Format\n- Why It Works"},"typeVersion":1},{"id":"03fb2e4b-f67c-47c8-8dad-ad89105ecc7a","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1552,-304],"parameters":{"color":"#D8D2B0","width":400,"height":448,"content":"# Step 6: Save Ideas to Content Calendar\n\nThis node saves the AI-generated Reel ideas into a Notion content calendar.\n\nIt creates a new Notion database page with a dynamic title using the current date, such as:\n\nWeekly Skincare Content Ideas - 19 May 2026\n\nThe content is split into two blocks using .slice() to avoid Notion’s text length limit."},"typeVersion":1},{"id":"753d82c6-389c-49b4-9bfa-bfe7a81117e8","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-144,-640],"parameters":{"color":"#D8C0B0","width":848,"height":256,"content":"# Workflow Overview\n\n### This workflow automatically creates weekly Instagram Reel ideas for a D2C skincare brand using fresh Google News trends.\n\n### It runs every week, fetches recent skincare-related articles, selects the top 7 trend items, combines them into one dataset, and sends them to AI.\n\n### The AI generates 7 ready-to-use Instagram Reel ideas with hooks, captions, hashtags, reel format, and explanation.\n\n### Finally, the generated weekly content plan is saved into a Notion content calendar."},"typeVersion":1}],"active":false,"pinData":{},"settings":{"binaryMode":"separate","executionOrder":"v1"},"versionId":"2adbaa1f-7154-480c-bd82-ff7998afff36","connections":{"Get Trends":{"main":[[{"node":"Top 7 Trends","type":"main","index":0}]]},"Top 7 Trends":{"main":[[{"node":"Combine Trends","type":"main","index":0}]]},"Combine Trends":{"main":[[{"node":"Generate 7 Instagram Reel Ideas","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Generate 7 Instagram Reel Ideas","type":"ai_languageModel","index":0}]]},"Weekly Content Schedule":{"main":[[{"node":"Get Trends","type":"main","index":0}]]},"Generate 7 Instagram Reel Ideas":{"main":[[{"node":"Save idea's to Content Calendar","type":"main","index":0}]]}}}